/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules
.vscode/formatter.json
public/test.php
public/test1.php
public/test2.php
public/js/json/gno/line_points — копия.json

.vscode/formatter.json
public/fonts/vendor/
public/webfonts
public/mix-manifest.json

public/test2.php
public/test1.php
public/test.php
public/js/json/gno/line_points — копия.json

/public/js/app.js
/public/css/app.css

#IDE file
kmg-dashboard.iml
.DS_Store