/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules
.vscode/formatter.json
public/test.php
public/test1.php
public/test2.php
public/js/json/gno/line_points — копия.json
