// Fonts
@font-face {
    font-family: "Harmonia-Sans";
    src: url('/fonts/HarmoniaSansProCyr-Regular.ttf');

}
@font-face {
font-family: "Bold";
src: url("/fonts/HarmoniaSansProCyr-Bold.ttf") format("truetype");
}

@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-vue/src/index';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import 'includes/layout';
@import 'includes/navbar';
@import 'includes/sidebar';
@import 'includes/profile';
@import 'includes/mainpage';
@import 'components/vSelect';
@import 'components/modal';

@import 'modules/monitoring';
@import 'modules/bigdata';
@import 'modules/gtm';
@import '~handsontable/dist/handsontable.full.css';









