/* width */
table::-webkit-scrollbar {
  width: 13px;
}

/* Track */
table::-webkit-scrollbar-track {
  background: #333975;
}

/* Handle */
table::-webkit-scrollbar-thumb {
  background: #656A8A;

}

/* Handle on hover */
table::-webkit-scrollbar-thumb:hover {
  background: #656A8A;

}

table::-webkit-scrollbar-corner {
  background: #333975;
}

.table-page {
  background: #272953;
  padding: 16px 24px 20px 19px;

  &__wrapper {
    min-height: calc(100vh - 88px);
    overflow-x: auto;
    position: relative;
    max-width: calc(100vw - 137px);
  }

  h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 19px;
  }

  &__links {
    display: flex;

    &-item {
      align-items: center;
      background: #656A8A;
      border-radius: 6px;
      color: #fff;
      display: flex;
      font-weight: bold;
      justify-content: center;
      height: 30px;
      margin-left: 8px;
      padding: 0 7px;

      &:hover {
        color: #fff;
        text-decoration: none;
      }

      &_excel {
        padding: 0 17px 0 20px;

        span {
          margin-left: 9px;
        }
      }

      &_date {
        padding: 0 17px 0 20px;

        i {
          margin-right: 9px;
          font-size: 18px;
        }

        input.vdatetime-input {
          max-height: 20px;
        }
      }

      &_result_export {
        &.custom-control.custom-checkbox {
          line-height: 30px;
          background: none;
        }

        .custom-control-label::before {
          top: 7px;
          left: -30px;
        }

        .custom-control-label::after {
          top: 7px;
          left: -30px;
        }
      }
    }
  }

  .alert {
    p {
      margin: 0;
    }
  }

  .filter {
    &-bg {
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }

    &-wrap {
      background: #333975;
      border: 0.4px solid #2E50E9;
      border-radius: 5px;
      display: flex;
      padding: 10px;
      position: absolute;
      left: 0;
      top: 36px;
      z-index: 1000;


    }

    &-item {
      margin-left: 20px;
      position: relative;

      &:before {
        background: rgba(196, 222, 242, 0.4);
        content: "";
        height: 36px;
        left: -10px;
        position: absolute;
        top: 2px;
        width: 1px;
      }

      &:first-child {
        margin-left: 0;

        &:before {
          display: none;
        }
      }

      &_datepicker {
        .vc-container {
          background: #40467E;
          border: 0.4px solid #2E50E9;
          padding-top: 17px;
          position: absolute;
        }

        .vc-header {
          padding-bottom: 14px;
        }

        .vc-title {
          color: #fff;
          font-size: 15px;
          font-weight: normal;
          text-transform: capitalize;
        }

        .vc-weekday {
          background: rgba(51, 57, 117, 0.501961);
          margin-bottom: 15px;
          padding: 8px 0;
        }

        .vc-arrows-container {
          padding: 0 30px;
        }

        .vc-day-content {
          color: #fff;
          font-size: 12px;
          opacity: 0.8;

          &.vc-focusable {
            opacity: 1;
          }
        }
      }

      &_input {
        .filter-apply {
          position: absolute;
          right: 4px;
        }
      }
    }

    &-input {
      background: #41488B;
      border: none;
      border-radius: 5px;
      color: #fff;
      height: 40px;
      font-size: 16px;
      font-weight: bold;
      outline: none;
      padding: 0 16px;
      width: 314px;
    }

    &-apply {
      background: rgba(123, 132, 173, 0.64);
      border: none;
      border-radius: 4px;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      height: 32px;
      margin-left: 10px;
      outline: none;
      position: relative;
      top: 4px;
      width: 56px;
    }

    &-clear {
      background: transparent;
      border: none;
      font-size: 12px;
      height: 32px;
      position: absolute;
      top: 4px;
      right: 56px;
    }

    &-data-clear {
      background: transparent;
      border: none;
      font-size: 12px;
      height: 32px;
      position: relative;
      top: 4px;
    }
  }

  .table {
    border: 1px solid #454D7D;
    color: white !important;
    margin-bottom: 28px;

    &.table-responsive {
      overflow: scroll;
      height: calc(100vh - 205px);

      &.with-pagination {
        height: calc(100vh - 258px);
      }
    }

    th {
      background: #333975;
      border: 1px solid #454D7D;
      font-weight: bold;
      font-size: 12px;
      min-width: 70px;
      padding: 10px 0;
      text-align: center;

      &.selected {
        position: relative;
        z-index: 100;
      }

      &.active {
        i.fa {
          color: #3366FF;
        }
      }

      &.check-all {
        background: #505585;
      }

      &.sort {
        background: #505585;
        font-weight: normal;
        padding: 10px 20px 10px 5px;
        position: relative;
        text-align: right;

        .arrows {
          display: block;
          height: 16px;
          position: absolute;
          right: 2px;
          top: 50%;
          transform: translateY(-50%);
          width: 15px;

          &:before {
            background: url(/img/icons/table_sort_up.svg);
            background-size: cover;
            content: "";
            height: 4px;
            position: absolute;
            top: 0;
            right: 0;
            width: 6px;
          }

          &:after {
            background: url(/img/icons/table_sort_down.svg);
            background-size: cover;
            content: "";
            height: 4px;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 7px;
          }

          &.asc {
            &:before {
              display: none;
            }
          }

          &.desc {
            &:after {
              display: none;
            }
          }
        }
      }

    }

    tbody {
      tr {
        td {
          background: #303560;
          border: none;
          border-left: 1px solid #454D7D;
          border-right: 1px solid #454D7D;
          font-size: 14px;
          padding: 7px 5px;
          text-align: center;
          vertical-align: middle;

          a.item_download {
            background: url(/img/icons/download.svg);
            height: 18px;
            width: 14px;
            display: block;
            background-repeat: no-repeat;
            margin: 0 auto;
          }

          &.row__links {
            padding-left: 20px;
            padding-right: 20px;
            width: 150px;
          }

          .links {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 112px;

            &__item {
              display: block;
              background-repeat: no-repeat;

              &_edit {
                background: url(/img/icons/edit.svg);
                height: 14px;
                width: 14px;
              }

              &_download {
                background: url(/img/icons/download.svg);
                height: 14px;
                width: 14px;
              }

              &_view {
                background: url(/img/icons/view.svg);
                height: 10px;
                width: 21px;
              }

              &_history {
                background: url(/img/icons/history.svg);
                height: 14px;
                width: 17px;
              }

              &_restore {
                background: url(/img/icons/history.svg);
                height: 14px;
                width: 17px;
              }

              &_delete {
                background: url(/img/icons/delete.svg);
                height: 14px;
                width: 15px;
              }
            }
          }
        }

        &:nth-child(2n) {
          td {
            background: #272953;
          }
        }
      }
    }
  }

  .loader {
    flex: 0 1 auto;
    flex-flow: row wrap;
    width: 100%;
    align-items: flex-start;
    position: absolute;
    height: 100%;
    justify-content: center;
    display: flex;
    z-index: 5000;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .v-spinner {
      top: 250px;
    }
  }

  .pagination {
    justify-content: center;

    .page-item {
      .page-link {
        background: none;
        border-color: #40489C;
        color: #636A99;
        padding: 0.8rem 1.35rem;
      }

      &.active {
        .page-link {
          background: #3366FF;
          color: #fff;
        }
      }
    }
  }

}