.companyName {
    font-size: 12px!important;
}

.nur-sultan {
    color: white;
    margin-left: 465px;
    margin-top: 130px;
    position: absolute;
}

.map {
    background: url(../img/level1/map_kz.svg) no-repeat;
    width: 850px;
    height: 450px;
    /*  margin-top: -105px;*/
    margin-top: -50px;
    margin-bottom: -30px;
}

.square {
    background: #C40D0D;
    width: 10px;
    height: 10px;
    top: -34px;
    left: 32px;
    position: relative;
}

.icon {
    position: relative;
    width: 30px;
    height: 27px;
    left: -48px;
    top: -29px;
}

.icon1 {
    background: url(../img/level1/vishka1.svg) no-repeat;
}

.icon2 {
    background: url(../img/level1/vishka2.svg) no-repeat;
}

.icon3 {
    background: url(../img/level1/vishka3.svg) no-repeat;
}

.icon4 {
    background: url(../img/level1/vishka4.svg) no-repeat;
}

.icon5 {
    background: url(../img/level1/vishka5.svg) no-repeat;
}

.icon6 {
    background: url(../img/level1/vishka6.svg) no-repeat;
}

.icon7 {
    background: url(../img/level1/vishka7.svg) no-repeat;
}

.org-name1 {
    position: relative;
    left: 240px;
    top: 167px;
    background: #FF9769;
}

.org-name1 .square-small {
    color: #FF9769;
}

.org-name2 {
    position: relative;
    left: 240px;
    top: 175px;
    background: #F7BB2E;
}

.org-name2 .square-small {
    color: #F7BB2E;
}

.org-name3 {
    position: relative;
    left: 130px;
    top: 208px;
    background: #00A0E3;
}

.org-name3 .square-small {
    color: #00A0E3;
}

.org-name4 {
    position: relative;
    left: 165px;
    top: 233px;
    background: #A3A0FB;
}

.org-name4 .square-small {
    color: #A3A0FB;
}

.org-name5 {
    position: relative;
    left: 125px;
    top: 251px;
    background: #E06765;
}

.org-name5 .square-small {
    color: #E06765;
}

.org-name6 {
    position: relative;
    left: 162px;
    top: 266px;
    background: #3B86FF;
}

.org-name6 .square-small {
    color: #3B86FF;
}

.org-name7 {
    position: relative;
    left: 402px;
    top: 197px;
    background: #13B062;
}

.org-name7 .square-small {
    color: #13B062;
}

.rectangle {
    color: white;
    width: 205px;
    height: 21px;
    padding: 0px 0px 0px 15px;
    border-left-color: white;
    border-left-style: solid;
}

.col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    height: 60px!important;
    position: relative;
}

.square-small {
    background: #0F1430;
    width: 22px;
    height: 22px;
    position: relative;
    left: 175px;
    top: -50px;
    text-align: center;
}

.circle {
    float: left;
    width: 300px;
    color: white;
    padding: 12px 0px 0px 25px;
}

#chart-area {
    width: 279px!important;
}

.right-side {
    display: flex;
}

canvas#chart-area1 {
    width: 220px;
    margin-top: 15px;
    /* margin-left: -15px; */
}

canvas#chart-area2 {
    width: 220px;
    margin-top: 15px;
    /* margin-left: -15px; */
}

canvas#chart-area3 {
    width: 220px;
    margin-top: 15px;
    margin-left: -15px;
}

canvas#chart-area4 {
    width: 220px;
    margin-top: 15px;
    margin-left: -15px;
}

.point {
    background: #47D660;
    height: 4px;
    width: 4px;
    position: relative;
    top: 12px;
    left: -8px;
}

.rectangle2 {
    color: white;
    width: 240px;
    height: 21px;
    padding: 0px 0px 0px 15px;
    border-left-style: solid;
    background: #2F4066;
    margin-left: -8px;
    margin-top: 10px;
}

.org-name11 {
    border-left-color: #13B062;
}

.org-name22 {
    border-left-color: #00A0E3;
}

.org-name33 {
    border-left-color: #F7BB2E;
}

.org-name44 {
    border-left-color: #E06765;
}

.circle2.circle {
    background: #2C3359;
}

.drop {
    background: url(data:image/svg+xml;base64,[d="M11.754 4.58455C9.94724 2.14766 8.11539 0.176884 8.09717 0.157146C8.0038 0.0569368 7.87322 0 7.73581 0C7.59916 0 7.46859 0.0569368 7.37521 0.157146C7.35623 0.176884 5.52439 2.14766 3.71835 4.58455C1.25109 7.9127 0 10.4961 0 12.2627C0 16.5291 3.47011 20 7.73657 20C12.0023 20 15.4724 16.5291 15.4724 12.2627C15.4724 10.4953 14.2213 7.9127 11.754 4.58455ZM8.50864 17.4955C8.10325 17.592 7.68495 17.6405 7.26589 17.6405C4.28924 17.6405 1.86677 15.2181 1.86677 12.2414C1.86677 11.8307 1.99355 11.0867 2.59556 9.87512C2.65553 9.75365 2.79522 9.69292 2.92579 9.73164C3.05561 9.77036 3.13912 9.89713 3.12317 10.0323C3.10951 10.1492 3.10268 10.2593 3.10268 10.3587C3.10268 13.5502 5.3718 16.3219 8.49877 16.9497C8.62782 16.9755 8.7212 17.0879 8.72348 17.2192C8.72575 17.3505 8.63617 17.4659 8.50864 17.4955Z" fill="#FEFEFE"]);
}

.footer-chart {
    background-color: #20274e;
    width: 394px;
    height: 205px;
    float: left;
    margin-left: 25px;
    color: white;
    margin-top: -40px;
    padding: 10px 0px 0px 25px;
    overflow: hidden;
}

#container {
    width: 75%;
}


/*
canvas#canvas2 {
    height: 105px;
    width: 365px;
    margin-top: 5px;
}

canvas#canvas3 {
    height: 105px;
    width: 365px;
    margin-top: 5px;
}
*/

.col-md-2.col-lg-2.indicator {
    top: 45px;
}

.circle4.circle {
    background: #2C3359;
}

#chart-0 {}

.wrapper {
    min-height: 400px;
    padding: 16px 0;
    position: relative;
}

.wrapper.col-2 {
    display: inline-block;
    min-height: 256px;
    /* width: 49%; */
    width: 500px;
}

.col-md-6 {
    flex: none!important;
    max-width: 100%!important;
}

#chart {
    max-width: 250px;
    margin: 35px auto;
}


/*
.info-panel {
    height: unset!important; 
   
}

#body-row {
      height: 1150px!important; 
}*/


/*страница visualcenter*/

.assets {
    font-size: 12px;
    padding: 10px 60px;
    color: white;
    background: url(../img/level1/button-off.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    background-color: #0d092a;
    outline: none;
}

.assets:focus:not(:active) {
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    pointer-events: none;
    background-color: #0d092a;
    border-color: #0d092a;
    outline: none;
}

.assets:active {
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    background-color: #0d092a;
    outline: none;
}

a.collapsed {
    text-decoration: unset!important;
}

.assets2 {
    border: none;
    /* height: 40px; */
    font-size: 12px;
    padding: 10px 60px;
    color: white;
    background: url(../img/level1/button-off.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    background-color: #0d092a;
    outline: none;
}

.assets2:focus:not(:active) {
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    border: none;
    /* height: 40px;*/
    pointer-events: none;
    background-color: #0d092a;
    outline: none;
}

.assets2:active {
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    border: none;
    height: 40px;
    outline: none;
}

.assets3 {
    margin-top: 15px;
    border: none;
    height: 15px;
    color: white;
    background-color: #0d092a;
}

.circle-menu {
    background: #0d092a;
    border: none;
    height: 40px;
    /* font-size: 12px; */
    /* padding: 10px 60px; */
    color: white;
    background: url(../img/visualcenter/circle-menu-blue.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
}

.circle-menu:focus:not(:active) {
    background: url(../img/visualcenter/circle-menu-white.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    border: none;
    height: 40px;
    pointer-events: none;
}


/*
.assets:active   {
    background: url(../img/level1/button-on.svg) no-repeat;
    height: 13px;
    width: 25px;
	   background-size: 20% auto;
    background-position: 92% 14%;
 }*/


/*
.button-menu {
    background: url(../img/level1/button-off.svg) no-repeat;
    height: 13px;
    width: 25px;
    position: absolute;  

}


.button-menu:focus:not(:active)   {
    background: url(../img/level1/button-on.svg) no-repeat;
    height: 13px;
    width: 25px;
    position: absolute;
  pointer-events: none;
  transform: rotate(180deg);  
}


.button-menu:active   {
    background: url(../img/level1/button-on.svg) no-repeat;
    height: 13px;
    width: 25px;
    position: absolute;  
}




.button-menu-position {
    margin-left: 155px;
    margin-top: -16px;
}
*/

.left-price-oil {
    width: 328px;
    font-size: 15px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 22px 10px;
    padding: 0 0 0 0px;
    color: white;
    margin-top: 25px;
}

.left-price-oil2 {
    margin-left: 26px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.price-border {
    position: absolute;
    /*border-color: #0d5c3f;
    border-style: solid;
    border-radius: 50px;
    border-width: 1.7px;*/
    width: 80px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    left: 228px;
    margin-top: -28px;
    /* background: #1c244a; */
    font-weight: bold;
}

.hr-visualcenter {
    background: white;
    height: 1px;
    margin-top: 5px!important;
    margin-bottom: 0px!important;
    border: 0;
    padding: 0px 0px 0px 0px;
    width: 280px;
}

.price-oil {
    padding: 15px 0px 0px 25px;
    font-size: 20px;
}

.oil-string {
    display: inline-block;
    padding: 0px 5px 0 5px;
}

li.one {
    font-weight: bold;
    width: 100px;
}

li.two {
    background: #0d5c3f;
}

li.three {
    color: green;
}

.oil-string-all {
    margin-left: -18px;
    margin-bottom: 2px;
}

li.oil-string.one2 {
    font-size: 12px;
}

li.oil-string.one2-2 {
    font-size: 16px;
}

li.oil-string.two2 {
    /* position: absolute; */
    border-color: #0d5c3f;
    border-style: solid;
    /* border-radius: 50px; */
    border-width: 1.7px;
    width: 45px;
    /* height: 30px; */
    font-size: 12px;
    text-align: center;
    /* left: 243px; */
    /* margin-top: -35px; */
    background: #1c244a;
    font-weight: bold;
}

li.oil-string.three2 {
    background: #0d5c3f;
    border-color: #0d5c3f;
    border-style: solid;
    /* border-radius: 50px; */
    border-width: 1.7px;
    font-size: 12px;
    width: 60px;
}

.width-price {
    width: 173px;
}

.visual-center-center {
    /* background: url(../img/level1/map_kz.svg) no-repeat; */
    /* width: 850px; */
    /* height: 454px; */
    position: relative;
}

.circle-2:focus {
    border: none;
    background: url(../img/visualcenter/button-hover.png) no-repeat;
    background-size: 100% auto;
    background-color: #1c6fb6;
}

li.circle-2:hover {
    border: none;
    background: url(../img/visualcenter/button-hover.png) no-repeat;
    background-size: 100% auto;
    background-color: #1c6fb6;
}

.circle-2 {
    display: inline-block;
    margin-left: 50px;
    width: 155px;
    height: 65px;
    color: white;
    background: url(../img/visualcenter/button.png) no-repeat;
    /* text-align: center; */
    padding: 14px 17px;
    /* font-weight: bold; */
    background-size: 100% auto;
    /* background-position: 50% 25%; */
    line-height: 18px;
    border-radius: 50px;
}

.col-lg-7-2 {
    max-width: 84%!important;
}

.visual-center-bottom {
    width: 415px;
    height: 168px;
    font-size: 15px;
    /* background-repeat: no-repeat; */
    /* background-size: 25px 25px; */
    /* background-position: 22px 10px; */
    color: white;
    margin-left: 10px;
    background-color: #20274e !important;
    float: left;
}

.main {
    height: unset!important;
    padding-top: unset!important;
}

.visual-center-oil-grups {
    position: relative;
}

.visual-center-string1 {
    width: 130px;
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
}

.visual-center-string2 {
    width: 270px;
    display: inline-block;
    background: #15509D !important;
    border-radius: 50px;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    padding: 5px 0px;
    font-size: 12px;
}

.accidents {
    display: inline-block;
    width: 125px;
    height: 226px;
    text-align: center;
    margin-left: 10px;
}

.accidents-first {
    background: url(../img/visualcenter/accidents-first.png) no-repeat;
    background-size: 30% auto;
    background-position: 50% 6%;
    border-right-style: solid;
    border-right-color: #252d58;
    border-right-width: 5px;
}

.accidents-second {
    background: url(../img/visualcenter/accidents-second.png) no-repeat;
    background-size: 30% auto;
    background-position: 50% 6%;
}

.accidents-third {
    background: url(../img/visualcenter/accidents-third.png) no-repeat;
    background-size: 30% auto;
    background-position: 50% 6%;
    margin-left: 10px;
    border-left-style: solid;
    border-left-color: #252d58;
    border-left-width: 5px;
}

.number-of-accidents {
    margin-top: 43px;
    color: #ec5464;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: -15px;
}

.visual-center-chart-bar-bottom {
    margin-top: -36px;
    overflow: hidden;
}


/*
.circle-2-2 {
    position: absolute;
    height: 30px;
    width: 30px;
    border: 3px;
    border-radius: 50px;
    border-style: solid;
    border-color: #1c6fb6;
    margin-left: 80px;
    margin-top: -40px;
    font-size: 18px;
    text-align: center;
    padding: 0 0px;
}
*/

.circle-2-string {
    width: 80px;
    text-align: center;
}

.difference-of-24 {
    font-size: 15px;
    padding: 10px 15px;
}

.visual-center-right-column {
    width: 245px;
    font-size: 15px;
}

.indent {
    margin-left: 15px;
    margin-right: 15px;
}

.right-chart-button {
    border: none;
    padding: 10px 60px;
    color: white;
    background: url(../img/level1/button-off.png) no-repeat;
    background-size: 16% auto;
    background-position: 75% 50%;
    outline: none;
}

.right-chart-button:focus:not(:active) {
    border: none;
    color: white;
    background: url(../img/level1/button-on.png) no-repeat;
    border: none;
    pointer-events: none;
    background-size: 16% auto;
    background-position: 75% 50%;
    outline: none;
}

.right-chart-button:active {
    border: none;
    color: white;
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 16% auto;
    background-position: 75% 50%;
    outline: none;
}

.right-table-button {
    border: none;
    padding: 10px 60px;
    color: white;
    background: url(../img/level1/button-off.png) no-repeat;
    background-size: 16% auto;
    background-position: 80% 50%;
    outline: none;
}

.right-table-button:focus:not(:active) {
    border: none;
    color: white;
    background: url(../img/level1/button-on.png) no-repeat;
    border: none;
    pointer-events: none;
    background-size: 16% auto;
    background-position: 80% 50%;
    outline: none;
}

.right-table-button:active {
    border: none;
    color: white;
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 16% auto;
    background-position: 80% 50%;
    outline: none;
}

.circle-table {
    background: #0d092a;
    border: none;
    height: 15px;
    border-radius: 50px;
    margin-top: 17px;
}

.right-button {
    width: 118px;
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
}

.donut {
    height: 350px;
    overflow: hidden;
    background-color: #20274e;
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin-top: 15px;
}

.right-button-panel {
    height: 100px!important;
    background-color: #20274e;
}

.donut2 {
    /* margin-top: 15px; */
}

.donut-inner1 {
    width: 100px;
    height: 55px;
    background: #2F4066;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 0px;
}

.inner1 {
    border-left-style: solid;
    border-left-color: #ec5464;
    border-left-width: 10px;
}

.inner2 {
    border-left-style: solid;
    border-left-color: #47d660;
    border-left-width: 10px;
    margin-left: 5px;
}

ul.dropdown-child {
    position: absolute;
    margin-left: 44px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.child {
    background-color: #20274e;
    /* display: block; */
    display: none;
    min-width: 180px;
}

.child a {
    position: relative;
    color: white;
    padding: 5px 15px;
    /* text-decoration: none; */
    display: block;
}

.dropdown:hover .child {
    display: block;
}

#sidebar-container .list-group a {
    height: 47px!important;
}

.row {
    /* width:1525px;  */
    overflow: hidden;
    /* width: 100%; */
    margin-right: unset;
    margin-left: unset;
}

.col-lg-5 {
    flex: 0 0 40.666667%;
    max-width: 40.666667%;
}

.logo {
    position: relative;
    float: left;
    width: 155px;
    height: 48px;
    left: 6px;
    /* top: 14px; */
    margin-right: 82px;
    background: url(../img/level1/logo.svg);
}

.tables {
    position: relative;
    width: 1285px;
    /* height: 400px;*/
    color: white;
    overflow: hidden;
    margin-bottom: 30px;
}

.tables-name {
    text-align: center;
    font-size: 18px;
    color: #fff;
    width: 1300px;
    height: 45px;
    margin-top: 35px;
}

.tables-string {
    font-size: 14px;
    position: relative;
    width: 1280px;
    text-align: center;
}

.level2-tab {
    width: 190px;
    height: 25px;
    background-color: #0F254A;
    color: #fff;
    display: inline-block;
    text-align: center;
    /* margin-left: 10px !important; */
    margin-right: -4px !important;
    outline: none;
    border-right-style: solid;
    border-right-color: #0F1430;
    border-right-width: 5px;
}

.level2-tab:focus {
    width: 190px;
    height: 25px;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-right: -4px !important;
    outline: none;
    background-color: #15509D;
}

.cell-colour {
    height: 56px;
    width: 35px;
    float: left;
    padding: 5px 10px;
}

.cell-colour-top {
    height: 113px;
    width: 35px;
    float: left;
    padding: 45px 10px;
}

.cell-number {
    height: 56px;
    width: 32px;
    float: left;
    background: #122f70;
    padding: 5px 10px;
}

.cell-number-top {
    height: 113px;
    width: 32px;
    float: left;
    background: #122f70;
    padding: 45px 10px;
}

.cell-name {
    height: 56px;
    width: 310px;
    float: left;
    background: #122f70;
    padding: 5px 5px;
    line-height: 48px;
}

.cell-name-top {
    height: 113px;
    width: 310px;
    float: left;
    background: #122f70;
    padding: 45px 10px;
}

.cell {
    height: 56px;
    width: 82px;
    float: left;
    text-align: center;
    background: #0F1430;
    padding: 5px 10px;
    line-height: 48px;
}

.cell-last-top {
    float: left;
    text-align: center;
    background: #122f70;
    padding: 5px 10px;
    width: 902px;
}

.cell2 {
    width: 82px;
    background: #122f70;
    float: left;
    padding: 5px 10px;
    height: 79px;
}

.cell3 {
    width: 246px;
    background: #122f70;
    float: left;
    padding: 5px 10px;
}

.cell4 {
    width: 82px;
    background: #122f70;
    float: left;
    padding: 5px 10px;
    height: 47px;
}

.table-border {
    border-top-color: #1b6bb0;
    border-top-style: solid;
    border-top-width: 1px;
    border-left-color: #1b6bb0;
    border-left-style: solid;
    border-left-width: 1px;
}

.tables-bottom-line {
    width: 1280px;
    border-top-color: #1b6bb0;
    border-top-style: solid;
    border-top-width: 1px;
}

.cell-last {
    border-right-color: #1b6bb0;
    border-right-style: solid;
    border-right-width: 1px;
}

.p-4 {
    padding: 15px 0px!important;
}

.left-arrow {
    display: inline-block;
    background: url(../img/level1/date_left_arrow.svg)no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    position: relative;
}

.right-arrow {
    display: inline-block;
    background: url(../img/level1/date_right_arrow.svg)no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    position: relative;
}

.col-md-8.col-lg-8 {
    display: inline-block;
}

.timer {
    display: inline-block;
}

.timer-welcome {
    margin-left: 30px;
}

.timer-visual-center {
    margin-left: 45px;
}

.level1-tab {
    margin-bottom: 10px;
    outline: none;
}

.right-tab {
    outline: none;
}

.indent-top {
    margin-top: 15px;
}

.month-day {
    width: 1285px;
    background: #122f70;
    height: 40px;
    color: #fff;
}

.day {
    float: left;
    padding: 0px 5px;
    margin-top: 10px;
    list-style-type: none;
}

li.circle-2 {
    margin-top: 35px;
    outline: none;
}

.btn-info2 {
    color: #212529;
    background-color: #6cb2eb;
    border-color: #6cb2eb;
    margin-top: -50px;
    position: absolute;
}

.btn-primary {
    background: url(../img/big-data-button.png) no-repeat;
    background-size: contain;
    width: 120px;
    height: 38px;
    margin-top: -7px;
    margin-left: 40px;
    border-radius: 50px;
    position: absolute;
}