.checkered-bg {
    background: #0F1430;
    background-image: linear-gradient(#0D2B4D 1px, transparent 0),
    linear-gradient(90deg, #0D2B4D 1px, transparent 0);
    background-size: 38.4px 38.4px;
}

.padding {
    padding-left: 0px!important;
}

.no-row {
    margin: 0!important;
}

.spacing {
    padding: 30px 0px;
    margin-left: 5px;
    max-width: 94%;
}

.left-panel {
    background-color: #20274f;
}



.companyName {
    font-size: 12px!important;
}

.nur-sultan {
    color: white;
    margin-left: 465px;
    margin-top: 130px;
    position: absolute;
}

.map {
    background: url(../img/level1/map_kz.svg) no-repeat;
    width: 850px;
    height: 450px;
    /*  margin-top: -105px;*/
    margin-top: -50px;
    margin-bottom: -30px;
}

.square {
    background: #C40D0D;
    width: 10px;
    height: 10px;
    top: -34px;
    left: 32px;
    position: relative;
}

.icon {
    position: relative;
    width: 30px;
    height: 27px;
    left: -48px;
    top: -29px;
}

.icon1 {
    background: url(../img/level1/vishka1.svg) no-repeat;
}

.icon2 {
    background: url(../img/level1/vishka2.svg) no-repeat;
}

.icon3 {
    background: url(../img/level1/vishka3.svg) no-repeat;
}

.icon4 {
    background: url(../img/level1/vishka4.svg) no-repeat;
}

.icon5 {
    background: url(../img/level1/vishka5.svg) no-repeat;
}

.icon6 {
    background: url(../img/level1/vishka6.svg) no-repeat;
}

.icon7 {
    background: url(../img/level1/vishka7.svg) no-repeat;
}

.org-name1 {
    position: relative;
    left: 240px;
    top: 167px;
    background: #FF9769;
}

.org-name1 .square-small {
    color: #FF9769;
}

.org-name2 {
    position: relative;
    left: 240px;
    top: 175px;
    background: #F7BB2E;
}

.org-name2 .square-small {
    color: #F7BB2E;
}

.org-name3 {
    position: relative;
    left: 130px;
    top: 208px;
    background: #00A0E3;
}

.org-name3 .square-small {
    color: #00A0E3;
}

.org-name4 {
    position: relative;
    left: 165px;
    top: 233px;
    background: #A3A0FB;
}

.org-name4 .square-small {
    color: #A3A0FB;
}

.org-name5 {
    position: relative;
    left: 125px;
    top: 251px;
    background: #E06765;
}

.org-name5 .square-small {
    color: #E06765;
}

.org-name6 {
    position: relative;
    left: 162px;
    top: 266px;
    background: #3B86FF;
}

.org-name6 .square-small {
    color: #3B86FF;
}

.org-name7 {
    position: relative;
    left: 402px;
    top: 197px;
    background: #13B062;
}

.org-name7 .square-small {
    color: #13B062;
}

.rectangle {
    color: white;
    width: 205px;
    height: 21px;
    padding: 0px 0px 0px 15px;
    border-left-color: white;
    border-left-style: solid;
}

.square-small {
    background: #0F1430;
    width: 22px;
    height: 22px;
    position: relative;
    left: 175px;
    top: -50px;
    text-align: center;
}

.circle {
    float: left;
    width: 300px;
    color: white;
    padding: 12px 0px 0px 25px;
}

#chart-area {
    width: 279px!important;
}

.right-side {
    display: flex;
}

canvas#chart-area1 {
    width: 220px;
    margin-top: 15px;
    /* margin-left: -15px; */
}

canvas#chart-area2 {
    width: 220px;
    margin-top: 15px;
    /* margin-left: -15px; */
}

canvas#chart-area3 {
    width: 220px;
    margin-top: 15px;
    margin-left: -15px;
}

canvas#chart-area4 {
    width: 220px;
    margin-top: 15px;
    margin-left: -15px;
}

.point {
    background: #47D660;
    height: 4px;
    width: 4px;
    position: relative;
    top: 12px;
    left: -8px;
}

.rectangle2 {
    color: white;
    width: 240px;
    height: 21px;
    padding: 0px 0px 0px 15px;
    border-left-style: solid;
    background: #2F4066;
    margin-left: -8px;
    margin-top: 10px;
}

.org-name11 {
    border-left-color: #13B062;
}

.org-name22 {
    border-left-color: #00A0E3;
}

.org-name33 {
    border-left-color: #F7BB2E;
}

.org-name44 {
    border-left-color: #E06765;
}

.circle2.circle {
    background: #2C3359;
}

.footer-chart {
    background-color: #20274e;
    width: 394px;
    height: 205px;
    float: left;
    margin-left: 25px;
    color: white;
    margin-top: -40px;
    padding: 10px 0px 0px 25px;
    overflow: hidden;
}

#container {
    width: 75%;
}

.col-md-2.col-lg-2.indicator {
    top: 45px;
}

.circle4.circle {
    background: #2C3359;
}

.wrapper {
    min-height: 400px;
    padding: 16px 0;
    position: relative;
}

.wrapper.col-2 {
    display: inline-block;
    min-height: 256px;
    /* width: 49%; */
    width: 500px;
}

#chart {
    max-width: 250px;
    margin: 35px auto;
}

/*
.info-panel {
    height: unset!important;

}

#body-row {
      height: 1150px!important;
}*/

/*страница visualcenter*/

.assets {
    font-size: 12px;
    padding: 10px 60px;
    color: white;
    background: url(../img/level1/button-off.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    background-color: #0d092a;
    outline: none;
}

.assets:focus:not(:active) {
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    pointer-events: none;
    background-color: #0d092a;
    border-color: #0d092a;
    outline: none;
}

.assets:active {
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    background-color: #0d092a;
    outline: none;
}

a.collapsed {
    text-decoration: unset!important;
}

.assets2 {
    border: none;
    /* height: 40px; */
    font-size: 12px;
    padding: 10px 60px;
    color: white;
    background: url(../img/level1/button-off.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    background-color: #0d092a;
    outline: none;
}

.assets2:focus:not(:active) {
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    border: none;
    /* height: 40px;*/
    pointer-events: none;
    background-color: #0d092a;
    outline: none;
}

.assets2:active {
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    border: none;
    height: 40px;
    outline: none;
}

.assets3 {
    margin-top: 15px;
    border: none;
    height: 10px;
    color: white;
    background-color: #0d092a;
}

.circle-menu {
    background: #0d092a;
    border: none;
    height: 40px;
    /* font-size: 12px; */
    /* padding: 10px 60px; */
    color: white;
    background: url(../img/visualcenter/circle-menu-blue.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
}

.circle-menu:focus:not(:active) {
    background: url(../img/visualcenter/circle-menu-white.png) no-repeat;
    background-size: 9% auto;
    background-position: 75% 50%;
    border: none;
    height: 40px;
    pointer-events: none;
}

/*
.assets:active   {
    background: url(../img/level1/button-on.svg) no-repeat;
    height: 13px;
    width: 25px;
	   background-size: 20% auto;
    background-position: 92% 14%;
 }*/

/*
.button-menu {
    background: url(../img/level1/button-off.svg) no-repeat;
    height: 13px;
    width: 25px;
    position: absolute;

}


.button-menu:focus:not(:active)   {
    background: url(../img/level1/button-on.svg) no-repeat;
    height: 13px;
    width: 25px;
    position: absolute;
  pointer-events: none;
  transform: rotate(180deg);
}


.button-menu:active   {
    background: url(../img/level1/button-on.svg) no-repeat;
    height: 13px;
    width: 25px;
    position: absolute;
}




.button-menu-position {
    margin-left: 155px;
    margin-top: -16px;
}
*/

.left-price-oil {
    width: 328px;
    font-size: 15px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 22px 10px;
    padding: 0 0 0 0px;
    color: white;
    margin-top: 25px;
}

.left-price-oil2 {
    margin-left: 26px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.price-border {
    position: absolute;
    /*border-color: #0d5c3f;
    border-style: solid;
    border-radius: 50px;
    border-width: 1.7px;*/
    width: 80px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    left: 228px;
    margin-top: -28px;
    /* background: #1c244a; */
    font-weight: bold;
}

.hr-visualcenter {
    background: white;
    height: 1px;
    margin-top: 5px!important;
    margin-bottom: 0px!important;
    border: 0;
    padding: 0px 0px 0px 0px;
    width: 280px;
}

.price-oil {
    padding: 15px 0px 0px 25px;
    font-size: 20px;
}

.oil-string {
    display: inline-block;
    padding: 0px 5px 0 5px;
}

li.one {
    font-weight: bold;
    width: 100px;
}

li.two {
    background: #0d5c3f;
}

li.three {
    color: green;
}

.oil-string-all {
    margin-left: -18px;
    margin-bottom: 2px;
}

li.oil-string.one2 {
    font-size: 12px;
}

li.oil-string.one2-2 {
    font-size: 16px;
}

li.oil-string.two2 {
    /* position: absolute; */
    border-color: #0d5c3f;
    border-style: solid;
    /* border-radius: 50px; */
    border-width: 1.7px;
    width: 45px;
    /* height: 30px; */
    font-size: 12px;
    text-align: center;
    /* left: 243px; */
    /* margin-top: -35px; */
    background: #1c244a;
    font-weight: bold;
}

li.oil-string.three2 {
    background: #0d5c3f;
    border-color: #0d5c3f;
    border-style: solid;
    /* border-radius: 50px; */
    border-width: 1.7px;
    font-size: 12px;
    width: 60px;
}

.width-price {
    width: 173px;
}

.visual-center-center {
    /* background: url(../img/level1/map_kz.svg) no-repeat; */
    /* height: 454px; */
    position: relative;
    width: 1275px;
}

.circle-2:focus {
    border: none;
    background: url(../img/visualcenter/button-hover.png) no-repeat;
    background-size: 100% auto;
    background-color: #1c6fb6;
}

li.circle-2:hover {
    border: none;
    background: url(../img/visualcenter/button-hover.png) no-repeat;
    background-size: 100% auto;
    background-color: #1c6fb6;
}

.circle-2 {
    display: inline-block;
    margin-left: 50px;
    width: 155px;
    height: 65px;
    color: white;
    background: url(../img/visualcenter/button.png) no-repeat;
    /* text-align: center; */
    padding: 14px 17px;
    /* font-weight: bold; */
    background-size: 100% auto;
    /* background-position: 50% 25%; */
    line-height: 18px;
    border-radius: 50px;
}

.visual-center-bottom {
    width: 415px;
    height: 168px;
    font-size: 15px;
    color: white;
    /* margin-left: 10px; */
    background-color: #20274e !important;
    float: left;
    overflow: hidden;
    margin-top: 15px;
}

.vcb-left {
    margin-left: 10px;
}

.main {
    height: unset!important;
    padding-top: unset!important;
}

.visual-center-oil-grups {
    position: relative;
}

.visual-center-string1 {
    width: 130px;
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
}

.visual-center-string2 {
    width: 270px;
    display: inline-block;
    background: #15509D !important;
    border-radius: 50px;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    padding: 5px 0px;
    font-size: 12px;
}

.accidents {
    display: inline-block;
    width: 125px;
    height: 226px;
    text-align: center;
    margin-left: 10px;
}

.accidents-first {
    background: url(../img/visualcenter/accidents-first.png) no-repeat;
    background-size: 30% auto;
    background-position: 50% 6%;
    border-right-style: solid;
    border-right-color: #252d58;
    border-right-width: 5px;
}

.accidents-second {
    background: url(../img/visualcenter/accidents-second.png) no-repeat;
    background-size: 30% auto;
    background-position: 50% 6%;
}

.accidents-third {
    background: url(../img/visualcenter/accidents-third.png) no-repeat;
    background-size: 30% auto;
    background-position: 50% 6%;
    margin-left: 10px;
    border-left-style: solid;
    border-left-color: #252d58;
    border-left-width: 5px;
}

.number-of-accidents {
    margin-top: 43px;
    color: #ec5464;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: -15px;
}

.visual-center-chart-bar-bottom {
    margin-top: -36px;
    overflow: hidden;
}

/*
.circle-2-2 {
    position: absolute;
    height: 30px;
    width: 30px;
    border: 3px;
    border-radius: 50px;
    border-style: solid;
    border-color: #1c6fb6;
    margin-left: 80px;
    margin-top: -40px;
    font-size: 18px;
    text-align: center;
    padding: 0 0px;
}
*/

.circle-2-string {
    width: 80px;
    text-align: center;
}

.difference-of-24 {
    font-size: 15px;
    padding: 10px 15px;
}

.visual-center-right-column {
    width: 245px;
    font-size: 15px;
}

.indent {
    margin-left: 15px;
    margin-right: 15px;
}

.right-chart-button {
    border: none;
    padding: 10px 60px;
    color: white;
    background: url(../img/level1/button-off.png) no-repeat;
    background-size: 16% auto;
    background-position: 75% 50%;
    outline: none;
}

.right-chart-button:focus:not(:active) {
    border: none;
    color: white;
    background: url(../img/level1/button-on.png) no-repeat;
    border: none;
    pointer-events: none;
    background-size: 16% auto;
    background-position: 75% 50%;
    outline: none;
}

.right-chart-button:active {
    border: none;
    color: white;
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 16% auto;
    background-position: 75% 50%;
    outline: none;
}

.right-table-button {
    border: none;
    padding: 10px 60px;
    color: white;
    background: url(../img/level1/button-off.png) no-repeat;
    background-size: 16% auto;
    background-position: 80% 50%;
    outline: none;
}

/*

.right-table-button:focus:not(:active) {
    border: none;
    color: white;
    background: url(../img/level1/button-off.png) no-repeat;
    border: none;
    pointer-events: none;
    background-size: 16% auto;
    background-position: 80% 50%;
    outline: none;
}

.right-table-button:active {
    border: none;
    color: white;
    background: url(../img/level1/button-on.png) no-repeat;
    background-size: 16% auto;
    background-position: 80% 50%;
    outline: none;
}*/

.circle-table {
    background: #0d092a;
    border: none;
    height: 10px;
    border-radius: 50px;
    margin-top: 19px;
    width: 10px;
    float: left;
    margin-left: -7px;
}

.right-button {
    width: 118px;
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    position: relative;
    z-index: 99999;
    margin-left: 30px;
    margin-top: 30px;
}

.donut {
    height: 350px;
    overflow: hidden;
    background-color: #20274e;
    color: white;
    text-align: center;
    padding: 10px 0px;
    /* margin-top: 15px; */
}

.right-button-panel {
    height: 100px!important;
    background-color: #20274e;
}

.donut2 {
    margin-top: 10px;
}

.donut-inner1 {
    width: 100px;
    height: 55px;
    background: #2F4066;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 0px;
}

.inner1 {
    border-left-style: solid;
    border-left-color: #ec5464;
    border-left-width: 10px;
}

.inner2 {
    border-left-style: solid;
    border-left-color: #47d660;
    border-left-width: 10px;
    margin-left: 5px;
}

span.logout {
    margin-left: -8px;
}

ul.dropdown-child2 {
    position: absolute;
    margin-left: -8px;
}

.dropdown2 {
    position: relative;
}

.dropdown2:hover .child2 {
    display: block;
}

.child2 {
    background-color: #272953!important;
    display: none;
    width: 60px;
    height: 24px;
}

.child2 a {
    position: relative;
    color: white;
    padding: 5px 8px;
    display: block;
}

ul.dropdown-child {
    position: absolute;
    margin-left: 44px;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.child {
    background-color: #272953;
    /* display: block; */
    display: none;
    min-width: 180px;

}

.child a {
    position: relative;
    color: white;
    padding: 5px 15px;
    /* text-decoration: none; */
    display: block;
    white-space: nowrap;

}

.dropdown:hover .child {
    display: block;
}

#sidebar-container .list-group a {
    height: 47px!important;
}
.logo {
    position: relative;
    float: left;
    width: 155px;
    height: 48px;
    left: 6px;
    margin-right: 82px;
    background: url(../img/level1/logo.svg);
}
@media (max-width: 992px) {
    .logo {
        margin-right: 35px;
    }
}

.tables {
    position: relative;
    width: 1285px;
    /* height: 400px;*/
    color: white;
    overflow: hidden;
    /*margin-bottom: 30px;*/
}

.tables-name {
    text-align: center;
    font-size: 18px;
    color: #fff;
    width: 1300px;
    height: 45px;
    margin-top: -34px;
}

.tables-string {
    font-size: 14px;
    position: relative;
    width: 1280px;
    text-align: center;
}

.tables-string2 {
    font-size: 14px;
    position: relative;
    width: 607px;
    text-align: center;
}

.level2-tab {
    width: 190px;
    height: 25px;
    background-color: #0F254A;
    color: #fff;
    display: inline-block;
    text-align: center;
    /* margin-left: 10px !important; */
    margin-right: -4px !important;
    outline: none;
    border-right-style: solid;
    border-right-color: #0F1430;
    border-right-width: 5px;
    /* margin-top: 10px; */
}

.level2-tab:focus {
    width: 190px;
    height: 25px;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-right: -4px !important;
    outline: none;
    background-color: #15509D;
}

.cell-colour {
    height: 56px;
    width: 35px;
    float: left;
    padding: 5px 10px;
}

.cell-colour-top {
    height: 113px;
    width: 35px;
    float: left;
    padding: 45px 10px;
}

.cell-number {
    height: 56px;
    width: 32px;
    float: left;
    background: #122f70;
    padding: 17px 11px;
}

.cell-number-top {
    height: 113px;
    width: 32px;
    float: left;
    background: #122f70;
    padding: 45px 10px;
}

.cell-name {
    height: 56px;
    width: 329px;
    float: left;
    background: #122f70;
    padding: 5px 5px;
    line-height: 48px;
}

.cell-name2 {
    height: 56px;
    width: 329px;
    float: left;
    background: #122f70;
    padding: 5px 5px;
    line-height: 25px;
}

.cell-name-top {
    height: 113px;
    width: 329px;
    float: left;
    background: #122f70;
    padding: 45px 10px;
}

.cell {
    height: 56px;
    width: 82px;
    float: left;
    text-align: center;
    background: #0F1430;
    padding: 5px 10px;
    line-height: 48px;
}

.cell-last-top {
    float: left;
    text-align: center;
    background: #122f70;
    padding: 5px 10px;
    width: 902px;
}

.cell-last-top-small-table {
    text-align: center;
    margin-left: 361px;
    background: #122f70;
    padding: 5px 10px;
    width: 246px;
    border-right-color: #1b6bb0;
    border-right-style: solid;
    border-right-width: 1px;
}

.cell2 {
    width: 82px;
    background: #122f70;
    float: left;
    padding: 5px 10px;
    height: 79px;
}

.cell3 {
    width: 246px;
    background: #122f70;
    float: left;
    padding: 5px 10px;
}

.cell4 {
    width: 82px;
    background: #122f70;
    float: left;
    padding: 5px 10px;
    height: 47px;
}

.cell4-small-table {
    width: 82px;
    background: #122f70;
    float: left;
    padding: 5px 10px;
    height: 80px;
}

.table-border {
    border-top-color: #1b6bb0;
    border-top-style: solid;
    border-top-width: 1px;
    border-left-color: #1b6bb0;
    border-left-style: solid;
    border-left-width: 1px;
}

.tables-bottom-line {
    width: 1263px;
    border-top-color: #1b6bb0;
    border-top-style: solid;
    border-top-width: 1px;
}

.tables-bottom-line-small-table {
    width: 607px;
    border-top-color: #1b6bb0;
    border-top-style: solid;
    border-top-width: 1px;
}

.cell-last {
    border-right-color: #1b6bb0;
    border-right-style: solid;
    border-right-width: 1px;
}

.left-arrow {
    display: inline-block;
    background: url(../img/level1/date_left_arrow.svg)no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    position: relative;
}

.right-arrow {
    display: inline-block;
    background: url(../img/level1/date_right_arrow.svg)no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    position: relative;
}

.col-md-8.col-lg-8 {
    display: inline-block;
}

.timer {
    display: inline-block;
}

.timer-welcome {
    margin-left: 30px;
}

.timer-visual-center {
    margin-left: 100px;
}

.level1-tab {
    margin-bottom: 10px;
    outline: none;
}

.right-tab {
    outline: none;
}

.indent-top {
    margin-top: 15px;
}

.month-day {
    width: 1263px;
    background: #122f70;
    height: 40px;
    color: #fff;
}

.day {
    float: left;
    padding: 0px 10px;
    margin-top: 10px;
    list-style-type: none;
}

li.circle-2 {
    margin-top: 35px;
    outline: none;
}

.btn-info2 {
    color: #212529;
    background-color: #6cb2eb;
    border-color: #6cb2eb;
    margin-top: -50px;
    position: absolute;
}

.btn-primary-bigdata {
    background: url(../img/big-data-button.png) no-repeat;
    background-size: contain;
    width: 120px;
    height: 38px;
    margin-top: -7px;
    margin-left: 40px;
    border-radius: 50px;
    position: absolute;
}

/*calendar*/

.format-week {
    float: right;
}

.navigation {
    float: left;
}

.week {
    float: left;
    padding: 9px;
}

.navigation-table {
    margin-top: 8px;
    /* position: absolute; */
    margin-left: 15px;
    float: left;
    font-size: 15px;
    /* margin-right: -10; */
}

.navigation-month {
    float: left;
    width: 120px;
    text-align: center;
}

.selected2:hover {
    background: red;
}

.companyLogo-kmg {
    width: 165px;
    height: 45px;
    background: url(/img/level1/kmg_small3.png) no-repeat;
    position: absolute;
    background-size: contain;
    margin-top: -27px;
    margin-left: 15px;
}

.report-btn {
    padding: 20px;
    background: #102784;
    color: white;
    border-radius: unset;
    margin: 5px;
}

.report-btn:hover {
    padding: 20px;
    background: #237DEB;
    color: white;
}

.sidebar-expanded {
    width: 320px!important;
}

h2.subtitle {
    margin-left: 50px;
}

.mleft {
    margin-left: 50px;
}

.emptyPage {
    height: 800px;
}

.donut-summ {
    text-align: center;
}

.donut-summ-area {
    position: absolute;
    margin-top: 82px;
    margin-left: 70px;
    font-size: 30px;
    width: 100px;
}

.cell-width {
    width: 72px;
}

.unit {
    background: #15509d;
    height: 130px;
    border-radius: 50px;
    color: white;
    margin-left: 3px;
    margin-top: 120px;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    text-align: center;
    position: absolute;
}

.otstup {
    margin-left: 30px;
}

.starting {
    width: 415px;
    height: 50px;
    margin-top: -45px;
}

.start {
    float: left;
    margin-left: 30px;
    background: #2F4066;
    font-size: 12px;
    width: 100px;
    text-align: center;
}

.begin {
    position: absolute;
    margin-top: -28px;
    margin-left: 37px;
    font-size: 12px;
}

.end {
    position: absolute;
    margin-top: -28px;
    margin-left: 249px;
    font-size: 12px;
}

.period {
    width: 54px;
    height: 25px;
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-top: -15px;
    margin-bottom: -9px;
    color: #d6cdcd;
    font-size: 11px;
    z-index: 11111;
}

.period:active {
    width: 54px;
    height: 25px;
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-top: -15px;
    margin-bottom: -9px;
    color: white;
    font-size: 11px;
    z-index: 11111;
}

.period:hover {
    width: 54px;
    height: 25px;
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-top: -15px;
    margin-bottom: -9px;
    color: white;
    font-size: 11px;
    z-index: 11111;
}

.nav-item2 {
    margin-left: 10px;
    list-style-type: none;
}

.chart-date {
    color: white;
    position: absolute;
    margin-top: -42px;
    font-size: 12px;
    margin-left: 15px;
}

li.left-menu-li {
    width: 15vw;
    margin-left: 10px;
}

.bg-dark{
 background: #272953!important;
 z-index: 9999;
}

.bg-dark-new{
 background: #20274f!important;
 z-index: 9999;
}

#sidebar-container2 .left-panel .left-menu-li .dropdown-child {
    background-color: #20274f;
}

@media screen and (max-device-width: 450px) {
    #sidebar-container2 {
        display: none;
    }
    .spacing {
        padding: 0.5rem 0rem;
    }
}
