.background {
    background: #272953;
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.main>[class*='col-'] {
    padding-right: 0;
    padding-left: 15px;
}

body {
    color: white!important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #272953;
}

::-webkit-scrollbar-thumb {
    background: #656a8a;
}
/*Выбор скважины*/

.choose-well-block {
    font-size: 14px;
    background: #272953;
    text-align: left;
    height: 220px;
    margin-bottom: 5px;
}

[class*='choose-well-block'][class*='col-']
{
    padding: 15px 8px 8px;
}

.construction-block {
    font-size: 14px;
    background: #272953;
    padding: 15px 8px 8px;
    text-align: left;
    height: 172px;
    margin-bottom: 5px;
}
/*Выбор скважины конец*/


.right-block-data {
    float: left;
    padding: 2px 5px;
    padding-left: 10px!important;
}

.left-border-line {
    border-left-color: #3b4172;
    border-left-style: solid;
    border-left-width: 1px;
}

.top-border-line {
    border-top-color: #3b4172;
    border-top-style: solid;
    border-top-width: 1px;
}

.top-border-line label {
    margin-bottom: 3px;
    line-height: 16px;
}

.top-border-line label input {
    margin-top: 3px;
}

.right-border-line {
    border-right-color: #3b4172;
    border-right-style: solid;
    border-right-width: 1px;
}

.right-title-block {
    float: left;
    margin-bottom: 10px;
    font-size: 14px;
}

input.new-well-grp-checkbox {
    margin-top: 6px;
    position: relative;
    float: right;
    border: 1px solid rgba(184, 194, 204, 1);
    border-radius: 0.243rem;
}
/*Charts*/
.apexcharts-menu-item {
    color: black;
}
/*Charts end*/

/*Tables*/
.shgn-table-small {
    text-align: left;
    border-collapse: separate;
    width: 100%;
    height: auto;
    font-size: 13px;
}

.shgn-table-large {
    text-align: left;
    border-collapse: separate;
    width: 100%;
    height: 150px;
    font-size: 13px;
}

.shgn-table {
    text-align: left;
    border-collapse: separate;
    width: 100%;
    height: auto;
    font-size: 13px;
}

.shgn-table-th {
    font-size: 14px;
    vertical-align: middle;
    border-top: 0;
    padding-inline: 3px;
    padding-block: 3px;
    text-align: center;
    background: #323f8a;
}

.shgn-table-td {
    vertical-align: middle;
    background: #383d6d;
    width: auto;
    padding-inline: 3px;
    padding-block: 3px;
}

.fixed-table-td {
    height: 23px;
}

.large-th {
    width: 120px !important;
}

.highlight-tr > .shgn-table-td {
    background-color: #2b2e5e;
}

.table-pgno-three {
    height: 150px;
}

.bg-td {
    background-color: #323f8a;
}

.table-pgno-two {
    height: 210px;
}

.table-pgno-one {
    height: 210px;
}

table {
    color: black;
    height: 1000px;
}

.table-fixed-head {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    height:150px;
    overflow:auto;
}

td {
    border: none !important;
    text-align: center;
    width: 80px;
    background: #0F1430;
    color: white;
}


.table-title-pgno {
    text-align: center;
    font-size: 16px;
}

.shgn-table-pgno-one {
    display: flex;
    background-color: #20274e;
}

.shgn-table-pgno-two {
    display: flex;
    background-color: #20274e;
}

.shgn-table-pgno-three {
    display: flex;
    background-color: #20274e;
}

.shgn-table-pgno-four {
    display: flex;
    background-color: #20274e;
}

.table-pgno {
    height: 230px;
    font-size: 13px;
    display: table;
    background-color: #20274e;
    margin: 10px;
}

.table-pgno td, .table-pgno th {
    padding: 4px 5px;
}

.tr-pgno {
    display: table-row;
    background-color: #20274e;
}

.td-pgno {
    display: table-cell;
    text-align: center;
    height: 10px;
    width: 100px;
    position: static;
    background-color: #20274e;
}

.thead-pgno {
    display: table-header-group;
    background-color: #20274e;
}

.tbody-pgno {
    display: table-row-group;
    background-color: #20274e;
}

.th-pgno {
    display: table-cell;
    font-weight: bold;
    text-align: center;
    height: 0;
    position: static;
    background-color: #20274e;
}
/*Tables end*/
/*h-perf intervals*/
.perforation-intervals {
    font-size: 12px;
    display: none;
    position: absolute;
    top: -85px;
    left: 140px;
    width: 190px;
    padding-left: 3px;
    background: #494aa5;
    border-radius: 4px;
    height: auto;
    z-index: 9999;
    box-shadow: 0 0 5px black;
}

.hperf:hover .perforation-intervals {
    font-size: 12px;
    display: block;
    position: absolute;
    top: -85px;
    left: 140px;
    width: 190px;
    padding-left: 3px;
    background: #494aa5;
    border-radius: 4px;
    height: auto;
    z-index: 9999;
    box-shadow: 0 0 5px black;
}
/*h-perf intervals end*/

/*icons*/
.icon-near-wells {
    position: absolute;
    left: 72.25%;
    right: 3.18%;
    top: 74.02%;
    bottom: 43.83%;
}

.nno-icon {
    position: absolute;
    top: -30px;
    right: 355px;
}

.nno-icon svg {
    cursor: pointer;
}

.gear-icon {
    right: 12px;
    top: 35px;
    position: absolute;
}

.gear-icon-svg:hover {
    content: "";
    opacity: 100;
    -webkit-animation: gear-icon-svg 3s infinite both;
    animation: gear-icon-svg 3s infinite both;
}

@-webkit-keyframes gear-icon-svg {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(1) rotateZ(180deg);
        transform: scale(1) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}
@keyframes gear-icon-svg {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(1) rotateZ(180deg);
        transform: scale(1) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}
/*icons end*/

/*functional for hide blocks by checkboxes*/
.hidden-checkbox {
    width: 845px;
    height: 45px;
}

.spoiler>input[type="checkbox"] {
    cursor: pointer;
    border-color: transparent!important;
    border-style: none!important;
    background: transparent none!important;
    position: relative;
    z-index: 1;
    margin: -10px 0 -30px -470px;
}

.spoiler>input[type="checkbox"]:focus {
    outline: none;
}

.spoiler span.closer, .spoiler span.open {
    padding-left: 22px;
    text-decoration: underline;
}

.spoiler .right-side-box>span.closer {
    display: none;
}

.spoiler.opened .right-side-box>span.closer {
    display: inline;
}

.spoiler.opened .right-side-box>span.open {
    display: none;
}

.spoiler .right-side-box>span.open {
    display: inline;
}

.right-block-details {
    width: 100%;
    margin: 0;
}

span.open, span.closer {
    margin-left: -50px;
    margin-top: 10px;
    font-size: 12px;
}

.spoiler {
    font-size: 14px;
    position: relative;
    background: #272953;
    padding: 8px;
    text-align: left;
    margin-bottom: 5px;
    overflow: hidden;
    height: 55px;
}

.spoiler.opened {
    height: 278px;
}

.spoiler:last-child {
    margin-bottom: 0;
}

.spoiler-device {
    background: #272953;
}

/*end functional for hide blocks by checkboxes*/

/*buttons*/
.download-button-excel {
    position: absolute;
    margin-left: 175px;
    margin-top: 0;
}

.download-button-excel-1 {
    position: absolute;
    margin-left: 175px;
    margin-top: 5px;
}

.potential-analysis-button {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    font-size: 16px;
    position: relative;
    background-color: #293688;;
    padding: 12px 0;
    min-height: 45px;
    border-radius: 9px;
    text-align: center;
    font-weight: bold;
    width: 674px;
    align-items: center;
    height: 30px;
    max-width: 99.9%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    line-height: 18px;
    cursor: pointer;
}

.potential-analysis-button:active {
    background-color: #144079;
    box-shadow: 0 2px #666;
    transform: translateY(0.02px);
    filter: blur(0.3px);
}

.potential-analysis-button:hover {
    background-color: #484749;
}

.way-of-operation-button {
    max-width: 100%;
    float: left;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    background-color: #293688;;
    padding: 12px 0;
    min-height: 45px;
    text-align: center;
    border-radius: 9px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 680px;
    height: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    line-height: 18px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.way-of-operation-button:active {
    background-color: #144079;
    box-shadow: 0 2px #666;
    transform: translateY(0.02px);
    filter: blur(0.3px);
}

.way-of-operation-button:hover {
    background-color: #484749;
}

.download-curve-button {
    position: relative;
    text-align: center;
    width: 114px;
    height: 24px;
    font-size: 14px;
    color: white;
    border: 0.4px solid #222452;
    box-sizing: border-box;
    border-radius: 4px;
    background: #323370;
    outline: none;
    left: 20px;
    top: 8px;
}

.podbor-gno-button {
    float: left;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding: 15px 15px;
    height: 44px;
    background: rgba(19, 176, 98, 0.8);
    border-radius: 8px;
    text-align: center;
    margin-bottom: 0;
    line-height: 18px;
    cursor: pointer;
}

.podbor-gno-button:active {
    background-color: #144079;
    box-shadow: 0 2px #666;
    transform: translateY(0.02px);
    filter: blur(0.3px);
}

.podbor-gno-button:hover {
    background-color: #484749;
}

.inclinometry-button {
    float: left;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(41, 54, 136, 1);
    cursor: pointer;
    user-select: none;
    padding: 8px 30px;
    height: 38px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(58, 55, 55, 0.1);
    text-align: center;
    margin-bottom: 5px;
}

.inclinometry-button:active {
    background-color: #144079;
    box-shadow: 0 2px #666;
    transform: translateY(0.02px);
    filter: blur(0.3px);
}

.inclinometry-button:hover {
    background-color: #484749;
}

.prs-button {
    top: 15px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(41, 54, 136, 1);
    cursor: pointer;
    user-select: none;
    padding: 5px 30px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(58, 55, 55, 0.1);
    text-align: center;
    margin-bottom: 5px;
}

.prs-button:active {
    background-color: #144079;
    box-shadow: 0 2px #666;
    transform: translateY(0.02px);
    filter: blur(0.3px);
}

.prs-button:hover {
    background-color: #484749;
}

.old-well-button {
    width: 200px;
    height: 60px;
    background: #293688;
    border-radius: 8px;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    outline: none !important;
    box-shadow: none;
    border: none;
    margin-top: 125px;
    margin-left: 10px;
    line-height: 14px;
    vertical-align: middle;
}

.old-well-button:hover {
    background: #222d74;
}

.old-well-button:active {
    outline: none !important;
    background: #1a225e;
}

.button-nno {
    width: 500px;
    height: 44px;
    background: #293688;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: none !important;
    outline: none !important;
    color: white;
    margin-left: 350px;
}

.button-nno:hover {
    background: #222d74;
}

.button-nno:active {
    outline: none !important;
    background: #1a225e;
}
/*buttons end*/

.сentralizers-block {
    background-color: #272953;
    align-items: center;
    border-radius: 6px;
    border: 2px solid #454d7d;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 1px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #144079;
    width: 100%;
    word-spacing: 4px;
}

.large-input-nkt {
    width: 80px !important;
    padding-left: 0 !important;
}

.economic-table {
    left: 0;
    top: 0;
}

.select-well {
    outline: none;
    width: 100%;
    color: white;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-top: -2px;
    border: none;
    margin-right: 1px;
    appearance: none;
    background: #494aa5 url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='14' height='14' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat right 5px top 50%;
}

.select-edit {
    color: white;
    appearance: none;
    background: #494aa5 url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='14' height='14' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat right 5px top 50%;
}

.centralizers-title {
    margin-bottom: 2px;
}

.main-title-centralizers {
    text-align: center;
    margin-bottom: 0;
}

.input-selection-options {
    width: 57px;
    margin-bottom: 10px;
    background: #494AA5;
    border: 1px solid #272953;
    outline: none;
    height: 22px;
    color: white;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 25px !important;
    margin-top: 5px;
}

.w-62 {
    width: 62px;
    font-size: 11px;
}

.input-selection-options {
    width: 57px;
    margin-bottom: 10px;
    background: #494AA5;
    border: 1px solid #272953;
    outline: none;
    height: 22px;
    color: white;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 25px !important;
    margin-top: 5px;
}

.input-selection-options:focus {
    background: #5657c7;
}

.input-selection-options:disabled {
    color: #928f8f;
    background: #353e70;
}

.w-25 {
    width: 25%;
}

.pos-rel {
    position: relative;
    float: left;
}

.well-number-input {
    border: 1px solid rgba(34, 36, 82, 1);
    background: rgba(76, 190, 237, 0.278431);
    outline: none;
    width: 100%;
    color: white;
    line-height: 25px !important;
}

.shgn-input {
    border: 1px solid rgba(34, 36, 82, 1);
    background: rgba(76, 190, 237, 0.278431);
    outline: none;
    width: 57px;
    height: 20px;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 25px !important;
}

.sep-input {
    border: 1px solid rgba(34, 36, 82, 1);
    background: rgba(76, 190, 237, 0.278431);
    outline: none;
    width: 57px;
    height: 20px;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 25px !important;
}

.editable-input {
    background: rgba(76, 190, 237, 0.278431);
    outline: none;
    width: 60px;
    height: 20px;
    position: relative;
    color: white;
    top: 0;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 25px !important;
}

.editable-input:hover{
    background-color: #F4F3F3;
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 1px #ccc;
}

input[type="radio"] {
    font-weight: 300;
    font-size: 16px;
    color: #237DEB;
}

input[type="text"]:enabled.well-number-input {
    background: #494AA5;
    outline: none;
    border: 0;
}

input[type="radio"]:not(:checked) {
    border: 1px solid #FF0000;
}

input[type="radio"]:checked {
    font-weight: 900;
    color: #237DEB;
}

input[type="text"]:disabled.shgn-input {
    background:rgba(50, 51, 112, 1);
    color: #928f8f;
    outline: none;
    border: 0;
}

input[type="text"]:enabled.shgn-input {
    background: #494AA5;
    outline: none;
    border: 0;
}

input[type="text"]:disabled.sep-input {
    background:rgba(50, 51, 112, 1);
    color: #928f8f;
    outline: none;
    border: 0;
}

input[type="text"]:enabled.sep-input {
    background: #494AA5;
    outline: none;
    border: 0;
}

input[type="text"]:disabled.editable-input {
    background:rgba(50, 51, 112, 1);
    color: #928f8f;
    outline: none;
}

input[type="text"]:enabled.editable-input {
    background: #494AA5;
    outline: none;
}

.curve-settings-input {
    background: #494AA5;
    border: 1px solid #272953;
    outline: none;
    max-width: 60px;
    height: 22px;
    color: white;
    box-sizing: border-box;
    border-radius: 3px;
    line-height: 25px !important;
    padding-right: 5px;
    padding-left: 5px;
}

.curve-settings-input:focus {
    background: #5657c7;
}

.curve-settings-input:disabled {
    color: #928f8f;
    background: #353e70;
}

iframe.iframe {
    width: 1300px;
    height: 500px;
}

.modal-bign {
    color: black;
    background: #20274e;
    overflow-y: auto;
    max-height: 800px;
}

.chart {
    margin-top: -15px;
}

.modal-analysis-menu {
    color: white;
    position: relative;
    height: 100%;
    width: calc(100% - 800px);
    padding-left: 15px;
}

.nno-modal {
    background-color: #134487;
    width: 1300px;
    height: 650px;
}

.nno-modal-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nno-info-button {
    width: 800px;
    height: 24px;
    right: 300px;
    align-items: center;
}

.nno-title {
    font-size: 25px;
    text-align: center;
    background-color: #134487;
}

.checkbox-analysis-modal {
    color: #134487;
}

.checkbox-analysis-modal input[type="radio"] {
    display: none;
}

.checkbox-analysis-modal input[type="radio"] ::before {
    color: #1570cd;
}

.checkbox-analysis-modal input[type="radio"]:checked {
    color: #1570cd;
}

/*Composition SHGN*/
.pgno-table-block {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    overflow-y: auto;
}

.composition-shgn-block {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    background: #2B2E5E;
    padding: 10px;
}

.image-rods-data {
    width: 500px;
    height: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    position: relative;
}

.shgn-rod {
    position: absolute;
    color: white;
    font-size: 12px;
    left: 0;
}

.image-text-1 {
    top: 53px;
}

.image-text-2 {
    top: 75px;
}

.image-text-3 {
    top: 95px;
}

.image-text-4 {
    top: 150px;
}

.image-text-5 {
    top: 202px;
}

.image-text-6 {
    top: 240px;
}

.image-text-7 {
    top: 300px;
    line-height: 12px;
}

.image-text-8 {
    top: 325px;
}

.rods-image {
    height: 100%;
    max-height: 355px;
}

.img-text {
    width: 260px;
    text-align: right;
}

.text_img_1 {
    width: 100%;
    height: 24px;
    margin-top: 36px;
    font-size: 13px;
}

.text_img_2 {
    width: 100%;
    height: 23px;
    margin-top: 0;
    font-size: 13px;
}

.text_img_3 {
    width: 100%;
    height: 78px;
    margin-top: 0;
    font-size: 13px;
}

.text_img_4 {
    width: 100%;
    height: 70px;
    margin-top: 0;
    font-size: 13px;
}

.text_img_5 {
    width: 100%;
    height: 40px;
    margin-top: 0;
    font-size: 13px;
}

.text_img_6 {
    width: 100%;
    height: 68px;
    margin-top: 0;
    font-size: 13px;
}

.text_img_7 {
    width: 100%;
    height: 40px;
    margin-top: 0;
    font-size: 13px;
    line-height: 12px;
}

.text_img_8 {
    width: 100%;
    height: 18px;
    margin-top: 0;
    font-size: 13px;
}

.table-pgno-button, .img-text, .image-rods-data {
    height: 100%;
    overflow: hidden;
}

.table-pgno-button {
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.shgn-composition-wrapper {
    width: 100%;
    padding: 0 15px;
}

.gno-line-chart, .shgn-composition-wrapper {
    height: 445px;
    overflow: hidden;
}

/*Shgn end*/

.choosing-well-title {
    float: left;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    bottom: 4%;
}

.choosing-well-edit {
    float: left;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    bottom: 4%;
    text-align: end;
}

.choosing-well-data {
    float: left;
    background-color: #2b2e5e;
    height: 24px;
}

.construction {
    font-size: 20px;
    font-weight: bold;
    bottom: 5%;
}

.construction-data {
    height: 24px;
    width: 120px;
    background-color: #2b2e5e;
    float: left;
}

.devices-title {
    font-size: 16px;
    left: 10%;
}

.devices-data {
    float: left;
    font-size: 14px;
    background-color: #2b2e5e;
    height: 24px;
}

.pvt-title {
    font-size: 16px;
    font-weight: bold;
}

.technological-mode-title {
    font-size: 16px;
    font-weight: bold;
}

.pvt-data {
    float: left;
    font-size: 14px;
    background-color: #2b2e5e;
    height: 24px;
}

.tech-title {
    font-size: 20px;
    font-weight: bold;
    bottom: 4%;
}

.tech-data {
    float: left;
    font-size: 14px;
    background-color: #2b2e5e;
    height: 24px;
}

.choosing-well-data,
.construction-data,
.devices-data,
.pvt-data,
.tech-data {
    line-height: 26px;
}

.curve-selection-label {
    font-size: 16px;
}

.p-t {
    padding-top: 15px;
}

.curve-select-option {
    margin-right: 5px;
}

input.curve-select-option {
    margin-left: 0;
    outline: none;
    background: #237DEB;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

input.radio-q-liq {
    margin-left: -0px;
    outline: none;
    width: 14px;
    height: 14px;
    background: #237DEB;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

.inflow-curve-wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #272953;
    padding: 10px 15px;
    font-weight: bold;
    margin-bottom: 0;
}

.title-sep {
    height: 20px;
    padding-left: 15px;
}

.fs-16 {
    font-size: 16px
}

.label-measurements-1 {
    padding-top: 10px;
    margin-left: 5px;
}

.label-measurements {
    padding-top: 5px;
    margin-left: 5px;
}

.inflow-configuration-min-width
{
    min-width: 520px;
    min-height: 229px;
}

.inflow-configuration
{
    background-color: #2B2E5E;
    padding-left: 36px;
    padding-right: 41px;
    padding-bottom: 1px;
}

.sep-title {
    margin-top: 20px;
    padding-left: 15px;
}

.select-params
{
    background-color: #2B2E5E;
    min-height: 229px;
    min-width: 520px;
    padding-left: 28px;
    padding-right: 39px;
}

.ic-top-row
{
    padding-top: 4px;
}

.ic-bottom-row
{
    padding-bottom: 4px;
}

.min-w-block {
    min-width: 80px;
}

.label-pl {
    padding-left: 15px;
}
.ic-min-block2
{
    min-width: 125px;
}

.ic-min-block3 {
    min-width: 110px;
}

.ic-ar {
    text-align: right;
    padding-right: 5px;
}

.table-border-gno-left-right {
    border-right-color: #3b4172;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: #3b4172;
    border-left-style: solid;
    border-left-width: 1px;
}

.bottom-configuration-header {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    height: 30px;
}

#table-wrapper {
    position:relative;
}
#table-scroll {
    height: 530px;
    overflow:auto;
    margin-top:20px;
}
#table-wrapper table {
    width:100%;

}
#table-wrapper table * {
    background: #20274e;
    color: white;
}
#table-wrapper table thead th .text {
    position:absolute;
    top:-20px;
    z-index:2;
    height:28px;
    width:50%;
    color: #1570cd;
    border: 1px solid #1b6bb0;
}

.gno-curve-table-title {
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px 0 15px;
}

.gno-shgn-block-title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 0 0;
}


.vm--container {
    z-index: 99999 !important;
}

.gno-modal-loading-label {
    text-align: center;
    padding: 50px;
    font-size: 18px;
    color: white;
}

.gno-incl-content-wrapper, .modal-old-well-content-container {
    height: calc(100% - 42px);
    overflow-y: auto;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.gno-plotly-graph {
    padding-top: 8px;
}

.ps {
    height: 100% !important;
}

.incl-modal-table .ps__rail-y {
    right: 10px !important;
}

.shgn-table {
    border-collapse: collapse;
    margin: 0 !important;
    font-family: "Harmonia Sans Pro Cyr", sans-serif;
}

.shgn-table thead td {
    background: #333975;
    border: 1px solid #454d7d !important;
}

.shgn-table tbody td {
    border: 1px solid #454d7d !important;
    border-bottom: none !important;
    border-top: none !important;
}

.shgn-table tbody tr:last-child td {
    border-bottom: 1px solid #454d7d !important;
}

.shgn-table tbody tr:nth-child(odd) td {
    background: rgba(69, 77, 125, 0.32) !important;
}

.shgn-table tbody tr:nth-child(even) td {
    background: #272953 !important;
}

.gno-table-with-header {
    border-collapse: collapse;
    table-layout: fixed;
    position: relative;
    margin: 0 !important;
    font-family: "Harmonia Sans Pro Cyr", sans-serif;
}

.gno-table-with-header.incl {
    width: 401pt;
    font-size: 12px;
}

.gno-table-with-header.pgno {
    width: 100%;
    font-size: 12px;
}

.gno-table-with-header.pgno td {
    padding: 10px;
}

.gno-table-with-header thead td {
    position: sticky;
    top: 0;
    font-weight: bold;
    vertical-align: middle;
}

.gno-table-with-header thead td:nth-child(odd) {
    background: #313e8a !important;
}

.gno-table-with-header thead td:nth-child(even) {
    background: #2c3a8e !important;
}

.gno-table-with-header tbody tr:nth-child(odd) td:nth-child(odd) {
    background: #383d6d !important;
}

.gno-table-with-header tbody tr:nth-child(odd) td:nth-child(even) {
    background: #343868 !important;
}

.gno-table-with-header tbody tr:nth-child(even) td:nth-child(odd) {
    background: #313666 !important;
}

.gno-table-with-header tbody tr:nth-child(even) td:nth-child(even) {
    background: #2b2e5e !important;
}

.gno-table-with-header tbody td {
    vertical-align: middle !important;
}

.modal-old-well-plotly-container {
    background: #2B2E5E;
    width: 800px;
    height: 360px;
}

.modal-old-well-content-container {
    display: flex;
}

.button-pdf {
    background-color: #293688;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    outline: none;
}

.button-pdf:hover {
    background: #4e516c;
}

.button-pdf:active {
    background-color: #144079;
    box-shadow: 0 2px #666;
    transform: translateY(0.02px);
    filter: blur(0.3px);
}

.first-column-curve-block {
    margin-bottom: 10px;
}

.gno-page-wrapper {
    position: relative;
}

.second-column-container {
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.gno-shgn-table-section {
    height: 100%;
}

.nno-modal-buttons-container {
    position: relative;
}

.report {
    background-color: white;
    width: 1000px;
    height: 1850px;
}

.title-report > h1 {
    color: black;
    padding-top: 20px;
    padding-left: 60px;
    font-weight: bold;
}

.title-page-2 > h2 {
    color: white;
    background-color: #323370;
    font-weight: bold;
    padding-left: 10px;
}

.title-page-2 {
    color: white;
    background-color: #323370;
    padding-top: 10px;
    padding-left: 60px;
    font-weight: bold;
    height: 60px;
    top: 25px;
    left: 75px;
}

.block-results {
    top: 150px;
}

.image-data-clone {
    top: 26px;
    left: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #323370
}


.first-report-block {
    border-color: black;
    width: 100%;
}

.report-block-title {
    background-color: #323370;
    width: 100%;
    left: 90px;
    top: 15px;
    height: 60px;
    padding-top: 14px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #8c8caf;
}

.second-report-block-title {
    background-color: #656a8a;
    width: 100%;
    left: 90px;
    top: 20px;
    height: 60px;
    padding-top: 14px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #8c8caf;
}

.second-report-block-title-main {
    background-color: #323370;
    width: 100%;
    left: 90px;
    top: 20px;
    height: 60px;
    padding-top: 18px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #8c8caf;
}

.second-report-block-title-main-2 {
    background-color: #656a8a;
    width: 100%;
    left: 90px;
    top: 20px;
    height: 60px;
    padding-top: 18px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #8c8caf;
}

.first-report-block-data {
    width: 100%;
}

.second-report-block {
    width: 100%;
}

.report-block-data {
    background-color: white;
    width: 100%;
    left: 90px;
    top: 15px;
    height: 35px;
    padding-top: 14px;
    font-size: 15px;
    color: black;
    border-left: 2px solid #8c8caf;
    border-right: 2px solid #8c8caf;
}

.report-block-data-second-bottom {
    background-color: white;
    width: 100%;
    left: 90px;
    top: 15px;
    height: 45px;
    padding-top: 14px;
    font-size: 15px;
    color: black;
    border-left: 2px solid #8c8caf;
    border-right: 2px solid #8c8caf;
    border-bottom: 2px solid #8c8caf;
}

.report-block-data-second-bottom-2 {
    background-color: white;
    width: 100%;
    left: 90px;
    top: 20px;
    height: 45px;
    padding-top: 14px;
    font-size: 15px;
    color: black;
    border-left: 2px solid #8c8caf;
    border-right: 2px solid #8c8caf;
    border-bottom: 2px solid #8c8caf;
}

.report-block-data-second-top {
    background-color: white;
    width: 100%;
    left: 90px;
    top: 20px;
    height: 35px;
    padding-top: 14px;
    font-size: 15px;
    color: black;
    border-left: 2px solid #8c8caf;
    border-right: 2px solid #8c8caf;
}

.report-block-data-third-top {
    background-color: white;
    width: 100%;
    left: 75px;
    top: 30px;
    height: 35px;
    padding-top: 14px;
    font-size: 15px;
    color: black;
    border-left: 2px solid #8c8caf;
    border-right: 2px solid #8c8caf;
}

.report-block-data-third-bottom {
    background-color: white;
    width: 100%;
    left: 90px;
    top: 20px;
    height: 45px;
    padding-top: 14px;
    font-size: 15px;
    color: black;
    border-left: 2px solid #8c8caf;
    border-right: 2px solid #8c8caf;
    border-bottom: 2px solid #8c8caf;
}

.gno-chart-clone {
    top: 25px;
    left: 75px;
    background-color: #323370;
}

.image-data-clone {
    width: 100%;
    left: 90px;
}

.title-gno-chart-block {
    width: 100%;
    height: 60px;
    background-color: #656a8a;
}

.text-ellipsis {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.shgn-tables-wrapper {
    width: 100%;
    height: 240px;
    flex-direction: column;
    background-color: transparent;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    margin: 0 -5px;
    align-content: start;
    align-items: flex-start;
}

.sh {
    width: 70px !important;
}

.table-item {
    margin: 5px;
}

.shgn-table-pgno-one, .shgn-table-pgno-two {
    width: auto;
    height: 200px;
}

.table-pgno-four {
    width: auto;
    height: 50px;
}


.shgn-table {
    width: 100%;
}

.gno-page-container {
    margin: 0 !important;
}

.input-inflow-configuration:first-child(1) {
    margin-left: 5px;
    margin-top: 3px !important;
}

.input-inflow-configuration {
    margin-left: 5px;
    margin-top: 5px;
}

.selection-params {
    height: auto;
    width: auto;
}

/*Shgn begin*/
.title-multi-select {
    width: auto;
    position: relative;
    right: 5px;
}

.kpod-multiselect {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-block: 30px;
}

.li-multiselect {
    background: #333975;
    width: 131px;
    height: 215px;
    margin: 0;
}

.nno-modal-buttons-container {
    margin-left: 35px;
    width: 100%;
    height: 100%;
}

.svg__image {
    width: 100%;
    height: 100%;
}

.flex-container {
    padding: 0;
    margin: 0;
    height: 520px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex__item__block__1 {
    background-color: #272953;
    padding: 5px;
    width: 302px;
    height: 130px;
    margin-top: 10px;
    position: relative;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.flex__item__block__1_incl {
    background-color: #272953;
    padding: 5px;
    width: 342px;
    height: 130px;
    margin-top: 10px;
    position: relative;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.flex__item__block__1__koroz {
    background-color: #272953;
    padding: 5px;
    height: 80px;
    margin-top: 10px;
    position: relative;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.title__block {
    height: 32px;
    text-align: left;
    background: #323370;
    padding-left: 5px;
    padding-top: 5px;
}

.title__block__koroz {
    height: 32px;
    width: 896px;
    text-align: left;
    background: #323370;
    padding-left: 5px;
    padding-top: 5px;
}

.title__block__koroz__checkbox {
    height: 32px;
    width: 896px;
    text-align: left;
    background: #2b2e5e;
    padding-left: 5px;
    padding-top: 5px;
}

.title__block__koroz__checkbox__2 {
    width: 250px;
    position: relative;
    left: 150px;
    bottom: 25px;
}

.title__block__koroz__checkbox__3 {
    width: 250px;
    position: relative;
    left: 370px;
    bottom: 55px;
}

.title__block__koroz__checkbox__4 {
    width: 250px;
    position: relative;
    left: 600px;
    bottom: 85px;
}

.title__block__min__1 {
    height: 45px;
    text-align: left;
    background: #2b2e5e;
    padding-top: 10px;
    padding-left: 5px;
}

.kpod-input-text {
    width: 80px;
    text-align: center;
    margin-top: 10px;
}

.title__block__max {
    height: 90px;
    text-align: left;
    background: #2b2e5e;
    padding-top: 3px;
    padding-left: 5px;
}

.title__block__pump {
    height: 90px;
    text-align: left;
    background: #2b2e5e;
    padding-left: 20px;
}

.title__block__kpod {
    height: 20px;
    width: auto;
    text-align: left;
    background: #2b2e5e;
    padding-right: 5px;
    font-size: 12px;
    padding-block: 2px;
}

.title__block__pump__1 {
    height: 29px;
    width: 65px;
    text-align: left;
    background: #2b2e5e;
    padding-right: 5px;
}

.title__block__pump__1__flex {
    display: flex;
    width: 65px;
    text-align: left;
    background: #2b2e5e;
    padding-right: 5px;
}

.title__block__pump__1__heavy__down {
    height: 29px;
    width: 85px;
    text-align: left;
    background: #2b2e5e;
    padding-right: 5px;
}

.title__block__pump__1__text {
    height: 20px;
    width: 85px;
    text-align: left;
    background: #2b2e5e;
    padding-right: 5px;
}

.title__block__max__1 {
    height: 45px;
    text-align: left;
    background: #2b2e5e;
    padding-top: 10px;
    padding-left: 5px;
}

.title__block__pump_list {
    height: 60px;
    width: 30px;
    padding-top: 2px;
}

.title__block__pump_list__2 {
    height: 60px;
    width: 30px;
    position: absolute;
    left: 120px;
    bottom: 30px;
}

.title__block__pump_list__3 {
    height: 60px;
    width: 30px;
    position: absolute;
    left: 220px;
    bottom: 30px;
}

.block__dm__pump__1 {
    height: 30px;
}

.block__dm__pump__2 {
    height: 30px;
}

.block__dm__pump__3{
    height: 18px;
}

.flex__item__block__sixth__block {
    height: 32px;
    width: 896px;
    background-color: #2b2e5e;
    position: relative;
    top: 0;
    left: 0;
}

.block__1__input {
    width: 38px;
    height: 22px;
    border: 1px solid rgba(34, 36, 82, 1);
    background-color: #323370;
    position: relative;
    left: 30px;
}

.block__1__input__1 {
    width: 80px;
    height: 22px;
    position: relative;
    right: -35px;
    top: -10px;
    border: 1px solid rgba(34, 36, 82, 1);
    background-color: #323370;
}

.block__2__input {
    width: 91px;
    height: 22px;
    border: 1px solid rgba(34, 36, 82, 1);
    background-color: #323370;
    position: relative;
    left: 22px;
}

.block__6__input {
    width: 37px;
    height: 22px;
    position: relative;
    right: 90px;
    top: -14px;
    border: 1px solid rgba(34, 36, 82, 1);
    background-color: #323370;
}

.block__7__input {
    width: 110px;
    height: 22px;
    position: relative;
    left: 350px;
    top: -56px;
    border: 1px solid rgba(34, 36, 82, 1);
    background-color: #323370;
}

.block__text__5 {
    width: 300px;
    height: 20px;
    position: relative;
    left: 5px;
    top: 5px;
}

.block__text__6 {
    width: 300px;
    height: 20px;
    position: relative;
    left: 475px;
    top: -37px;
}

.checkbox__block__1 {
    margin-left: 0;
}

.sep-block {
    margin-bottom: 15px;
}

.input-selection-options:focus {
    background: #5657c7;
}

.input-selection-options:disabled {
    color: #928f8f;
    background: #353e70;
}

.block1 {
    width: auto;
}

.block2 {
    width: auto;
}

.block3 {
    width: auto;
}

.block4 {
    width: auto;
}

.label-kpod {
    width: 200px;
}

.label-measurements.calc-txt-1 {
    width: auto;
    position: absolute;
    top: 32px;
    left: 35px;
}

.label-measurements.calc-txt-2 {
    width: auto;
    position: absolute;
    top: 32px;
    right: 5px;
}

.label-measurements.calc-txt-3 {
    width: auto;
    position: absolute;
    right: 15px;
    top: 25px;
}

.label-measurements.calc {
    width: auto;
    position: absolute;
    top: 25px;
    right: 18px;
}

.pt-5px {
    padding-top: 5px;
}

.cel-title {
    height: 35px;
}

.input-selection-options.mech-sep {
    width: 30px;
}

.input-selection-options.perc-sep {
    width: 20px;
}

.asd {
    left: 0;
    top: 0;
}

.input-selection-options.calc-1 {
    width: 30px;
    position: absolute;
    top: 30px;
    left: 5px;
}

.input-selection-options.calc-2 {
    width: 60px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.input-selection-options.calc-3 {
    width: 40px;
}

.input-selection-options.k-pod {
    width: 50px;
    margin-right: 5px;
}

.input-selection-options.podbor-kpod-block-1 {
    width: 80px;
    margin-inline: 0;
    margin-top: 0;
    margin-right: 5px;
}

.input-selection-options.podbor-kpod-block-2 {
    width: 85px;
    margin-inline: 0;
    margin-top: 0;
    margin-right: 5px;
}

.input-selection-options.podbor-kpod-block-3 {
    width: 50px;
    margin-inline: 0;
    margin-top: 0;
}

.input-selection-options.podbor-kpod-select-block {
    width: 100px;
    margin-inline: 0;
    margin-top: 0;
}

.submit_button {
    width: 250px;
    height: 50px;
    background: #293688;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    outline: none !important;
    box-shadow: none;
    border: none;
    margin-left: 30px;
    margin-top: 30px;
    vertical-align: middle;
}

.submit_button:hover {
    background: #222d74;
}

.submit_button:active {
    outline: none !important;
    background: #1a225e;
}

/* Таблица #1*/

.table__1 {
    text-align: left;
    border-collapse: separate;
    width: 900px;
    height: 400px;
}

.table__th__1 {
    font-size: 15px;
    width: 20%;
    vertical-align: middle;
    border-top: 0px;
    text-align: center;
    background: #323f8a;
}

.table__td__1 {
    width: 20%;
    vertical-align: middle;
    background: #383d6d;
}

.highlight__tr__1 > .table__td__1 {
    background-color: #2b2e5e;
}

.title__table__1 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: -10px;
}
/*Shgn end*/
@media (max-width: 2000px) {
    .input-selection-options.calc-1 {
        width: 40px !important;
    }

    .input-selection-options.calc-2 {
        width: 80px !important;
    }

    .input-selection-options.calc-3 {
        width: 60px !important;
    }

    .label-measurements.calc-txt-1 {
        left: 43px;
    }
}

@media (max-width: 1920px) {
    .input-selection-options.calc-1 {
        width: 40px !important;
    }

    .input-selection-options.calc-2 {
        width: 80px !important;
    }

    .input-selection-options.calc-3 {
        width: 60px !important;
    }

    .label-measurements.calc-txt-1 {
        left: 43px;
    }
}
@media (max-width: 1710px) {


    .right-border-line.podbor-bottom-title-line {
        padding-bottom: -1px !important;
    }

    .curve-selection-label {
        margin: 0 !important;
    }

    .inflow-configuration-min-width, .select-params {
        min-width: 50%;
    }

    .curve-settings-input.podbor {
        width: calc(100% - 10px) !important;
    }
}

@media (max-width: 1700px) {
    .image-rods-data {
        flex: 0 0 294px !important;
        max-width: 294px !important;
    }

    .gno-shgn-table-section {
        flex: 0 0 calc(100% - 294px) !important;
        max-width: calc(100% - 294px) !important;
        padding-left: 5px !important;
        padding-right: 0 !important;
    }

    .label-measurements.calc-txt-1 {
        left: 43px;
    }

    .input-selection-options.calc-2 {
        width: 60px !important;
    }

    .input-selection-options.calc-3 {
        width: 55px !important;
    }
}

@media (max-width: 1600px) {
    .inflow-configuration, .select-params {
        padding-left: 15px;
        padding-right: 15px;
    }

    .input-selection-options.calc-1 {
        width: 40px !important;
    }

    .input-selection-options.calc-2 {
        width: 65px !important;
    }

    .input-selection-options.calc-3 {
        width: 42px !important;
    }
    .label-measurements.calc-txt-1 {
        left: 43px;
    }

    .curve-settings-input {
        max-width: 57px;
    }
}

@media (max-width: 1500px) {
    .input-selection-options.calc-1 {
        width: 40px !important;
    }

    .input-selection-options.calc-2 {
        width: 65px !important;
    }

    .input-selection-options.calc-3 {
        width: 42px !important;
    }
    .label-measurements.calc-txt-1 {
        left: 43px;
    }

    .shgn-table-pgno-one, .shgn-table-pgno-two {
        width: auto;
        height: 200px;
    }

    .shgn-table-pgno-four {
        width: auto;
        font-size: 11px;

    }


    .shgn-table {
        max-width: 200px;
    }
}

@media (max-width: 1450px) {
    .gno-curve-radio-cell {
        padding-right: 5px !important;
    }
}

@media (max-width: 1300px) {
    .curve-settings, .choice-params {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .spoiler.opened {
        height: 328px;
    }

    .shgn-table {
        max-width: 150px;
    }
}

@media (max-width: 1340px) {
    .shgn-table {
        max-width: 150px;
    }
}

@media (max-width: 1302px) {
    .select-well {
        width: 100% !important;
    }

    .сentralizers-block {
        word-spacing: 0;
        max-height: 77px;
    }

    .table-pgno-three {
        order: 4;
    }

    .table-pgno-four {
        order: 3;
    }
}

@media (max-width: 1200px) {
    .table-pgno-three {
        order: 4;
    }

    .table-pgno-four {
        order: 3;
    }

    .first-column {
        flex: 0 0 66.666666% !important;
        max-width: 66.666666% !important;
    }

    .second-column {
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }

    .shgn-table {
        max-width: 200px;
        max-height: 200px;
    }

    .centralizers-title {
        font-size: 9.8px;
    }

    .main-title-centralizers {
        font-size: 9.8px;
    }

    .сentralizers-block {
        padding:1px 0;
    }

    .shgn-table-pgno-one, .shgn-table-pgno-two {
        margin-bottom: 200px !important;
    }
}

@media (max-width: 1100px) {
    .centralizers-title {
        font-size: 9.5px;
    }

    .curve-settings-input.podbor {
        width: calc(100% - 65px) !important;
    }

    .select-params, .inflow-configuration {
        padding: 0 10px !important;
        min-width: 240px !important;
    }

    .inflow-configuration-min-width {
        min-width: 240px !important;
    }

    .сentralizers-block {
        padding:1px 0;
    }
}

@media (max-width: 1090px) {
    .gno-incl-content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
    }

    .incl-modal-table, .gno-plotly-graph {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .icon-params {
        left: 700px;
        bottom: 70px;
    }
}

@media (max-width: 1060px) {
    .modal-old-well-content-container {
        flex-direction: column;
    }

    .modal-old-well-plotly-container {
        width: 100%;
    }

    .modal-analysis-menu {
        margin-top: 15px;
        width: 100%;
    }

    .old-well-button {
        margin-top: 15px;
    }
}

@media (max-width: 1036px) {
    .inflow-curve-wrapper {
        padding: 10px;
    }
}

@media (max-width: 991px) {
    .gno-page-container {
        margin: 0 !important;
    }

    .second-column-container {
        padding-right: 0 !important;
    }

    .spoiler.opened {
        height: initial;
    }

    .shgn-composition-wrapper {
        height: initial;
    }

    .composition-shgn-block {
        flex-wrap: wrap;
        height: initial;
    }

    .image-rods-data {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        justify-content: center;
    }

    .gno-shgn-table-section {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .shgn-tables-wrapper {
        margin-bottom: 10px;
        height: initial;
        align-items: center;
    }

    .shgn-table-pgno-one, .shgn-table-pgno-two {
        height: 185px;
    }

    .shgn-table {
        max-width: 250px;
        max-height: 190px;
    }

    .shgn-rod {
        left: 150px;
    }
}

@media (max-width: 870px) {
    .shgn-rod {
        left: 100px;
    }
}

@media (max-width: 767px) {
    .first-column, .second-column {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .first-column {
        margin-top: 5px !important;
    }

    .no-gutter>[class*='col-'] {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .table-pgno-button {
        padding: 0 !important;
    }

    .second-column-container {
        padding-left: 0 !important;
    }

    #app div.first-column-params-block, #app div.first-column-curve-block {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .button-nno {
        width: initial;
        height: initial;
    }

    .nno-icon {
        right: -7px;
    }

    .nno-modal-button-wrapper {
        margin-top: 0;
    }

    .nno-modal-buttons-container {
        padding: 0 20px;
    }
}

@media (max-width: 584px) {
    .top-border-line .row .col-1 {
        display: none !important;
    }
}

@media (max-width: 575px) {
    .table-border-gno-right-second {
        border-right: none !important;
    }

    .tech-data.curve {
        padding-left: 15px;
    }
}

@media (max-width: 520px) {
    .curve-settings, .choice-params, .gno-main-green-button {
        padding: 0 !important;
    }

    .pdo-bottom-cell {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .curve-settings-input.podbor {
        width: 80% !important;
    }
}

@media (max-width: 500px) {
    .shgn-rod {
        left: 50px;
    }
}

@media (max-width: 430px) {
    .curve-settings-input {
        max-width: 100% !important;
    }
}

@media (max-width: 440px) {
    .ml-3.ic-min-block2 {
        margin-left: 0 !important;
    }
}

@media (max-width: 400px) {
    #app > .container-fluid {
        padding: 10px !important;
        margin: 0 !important;
    }

    .shgn-rod {
        left: 0;
    }
}
.dropdown-menu.show {
    background: #333975 !important;
    border: 0.3px solid black;
}

.drop-filter-custom{
    background: #333975 !important;
    border-color: #333975 !important;
}
.b-dropdown-form {
    background: #333975!important;
    padding-left: 5px;
    font-size: 12px;
}
.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    background: #333975!important;
}

/*Shgn*/
.title-multi-select {
    width: auto;
    position: relative;
    right: 5px;
}

.kpod-multiselect {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-block: 30px;
}

.li-multiselect {
    background: #333975;
    width: auto;
    height: auto;
    margin: 0;
}

.nno-modal-buttons-container {
    margin-left: 35px;
    width: 100%;
    height: 100%;
}

.svg__image {
    width: 100%;
    height: 100%;
}

.flex-container {
    padding: 0;
    margin: 0;
    height: 520px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex__item__block__1 {
    background-color: #272953;
    padding: 5px;
    width: 302px;
    height: 130px;
    margin-top: 10px;
    position: relative;
    left: 0px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.flex__item__block__1_incl {
    background-color: #272953;
    padding: 5px;
    width: 342px;
    height: 130px;
    margin-top: 10px;
    position: relative;
    left: 0px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.flex__item__block__1__koroz {
    background-color: #272953;
    padding: 5px;
    height: 80px;
    margin-top: 10px;
    position: relative;
    left: 0px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.title__block {
    height: 32px;
    text-align: left;
    background: #323370;
    padding-left: 5px;
    padding-top: 5px;
}

.title__block__koroz {
    height: 32px;
    width: 896px;
    text-align: left;
    background: #323370;
    padding-left: 5px;
    padding-top: 5px;
}

.title__block__koroz__checkbox {
    height: 32px;
    width: 896px;
    text-align: left;
    background: #2b2e5e;
    padding-left: 5px;
    padding-top: 5px;
}

.title__block__koroz__checkbox__2 {
    width: 250px;
    position: relative;
    left: 150px;
    bottom: 25px;
}

.title__block__koroz__checkbox__3 {
    width: 250px;
    position: relative;
    left: 370px;
    bottom: 55px;
}

.title__block__koroz__checkbox__4 {
    width: 250px;
    position: relative;
    left: 600px;
    bottom: 85px;
}

.title__block__min__1 {
    height: 45px;
    text-align: left;
    background: #2b2e5e;
    padding-top: 10px;
    padding-left: 5px;
}

.title__block__max {
    height: 90px;
    text-align: left;
    background: #2b2e5e;
    padding-top: 3px;
    padding-left: 5px;
}

.title__block__pump {
    height: 90px;
    text-align: left;
    background: #2b2e5e;
    padding-left: 20px;
}

.title__block__kpod {
    height: 20px;
    width: auto;
    text-align: left;
    background: #2b2e5e;
    padding-right: 5px;
    font-size: 12px;
    padding-block: 2px;
}

.title__block__pump__1 {
    height: 29px;
    width: 65px;
    text-align: left;
    background: #2b2e5e;
    padding-right: 5px;
}

.title__block__pump__1__flex {
    display: flex;
    width: 65px;
    text-align: left;
    background: #2b2e5e;
    padding-right: 5px;
}

.title__block__pump__1__heavy__down {
    height: 29px;
    width: 85px;
    text-align: left;
    background: #2b2e5e;
    padding-right: 5px;
}

.title__block__pump__1__text {
    height: 20px;
    width: 85px;
    text-align: left;
    background: #2b2e5e;
    padding-right: 5px;
}

.title__block__max__1 {
    height: 45px;
    text-align: left;
    background: #2b2e5e;
    padding-top: 10px;
    padding-left: 5px;
}

.title__block__pump_list {
    height: 60px;
    width: 30px;
    padding-top: 2px;
}

.title__block__pump_list__2 {
    height: 60px;
    width: 30px;
    position: absolute;
    left: 120px;
    bottom: 30px;
}

.block__dm__pump__1 {
    height: 30px;
}

.flex__item__block__sixth__block {
    height: 32px;
    width: 896px;
    background-color: #2b2e5e;
    position: relative;
    top: 0px;
    left: 0px;
}

.block__2__input {
    width: 180px;
    height: 22px;
    border: 1px solid rgba(34, 36, 82, 1);
    background-color: #323370;
    position: relative;
    left: 22px;
}

.block__7__input {
    width: 37px;
    height: 22px;
    position: relative;
    left: 380px;
    top: -56px;
    border: 1px solid rgba(34, 36, 82, 1);
    background-color: #323370;
}

.pr-87 {
    padding-right: 87px;
}

.pr-80 {
    padding-right: 80px;
}

.measurements-shgn-1 {
    position: absolute;
    right: 505px;
    top: 5px;
}

.measurements-shgn-2 {
    position: absolute;
    left: 851px;
    top: 5px;
}

.measurements-shgn-3 {
    position: absolute;
    left: 174px;
    top: 46px;
}

.block__text__5 {
    width: 300px;
    height: 20px;
    position: relative;
    left: 5px;
    top: 5px;
}

.block__text__6 {
    width: 300px;
    height: 20px;
    position: relative;
    left: 475px;
    top: -37px;
}

.checkbox__block__1 {
    margin-left: 0;
}

.square2 {
    border: 1px solid rgba(34, 36, 82, 1);
}

.input-box-gno {
    background: #494AA5;
    border: 1px solid #272953;
    outline: none;
    width: 100%;
    height: 22px;
    color: white;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 25px !important;
    padding-right: 5px;
    padding-left: 5px;
}

.input-box-gno:focus {
    background: #5657c7;
}

.input-box-gno:disabled {
    color: #928f8f;
    background: #353e70;
}

.block1 {
    width: auto;
}

.block2 {
    width: auto;
}

.block3 {
    width: auto;
}

.block4 {
    width: auto;
}

.label-kpod {
    width: 200px;
}

.input-box-gno.k-pod {
    width: 50px;
    margin-right: 5px;
}

.input-box-gno.podbor-kpod-block-1 {
    width: 80px;
    margin-inline: 0px;
    margin-top: 0px;
    margin-right: 5px;
}

.input-box-gno.podbor-kpod-block-2 {
    width: 85px;
    margin-inline: 0px;
    margin-top: 0px;
    margin-right: 5px;
}

.input-box-gno.podbor-kpod-block-3 {
    width: 50px;
    margin-inline: 0px;
    margin-top: 0px;
}

.submit_button {
    width: 250px;
    height: 50px;
    background: #293688;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    outline: none !important;
    box-shadow: none;
    border: none;
    margin-left: 30px;
    margin-top: 30px;
    vertical-align: middle;
}

.submit_button:hover {
    background: #222d74;
}

.submit_button:active {
    outline: none !important;
    background: #1a225e;
}

/* Таблица #1*/

.table__1 {
    text-align: left;
    border-collapse: separate;
    width: 900px;
    height: 400px;
}

.table__th__1 {
    font-size: 15px;
    width: 20%;
    vertical-align: middle;
    border-top: 0px;
    text-align: center;
    background: #323f8a;
}

.table__td__1 {
    width: 20%;
    vertical-align: middle;
    background: #383d6d;
}

.highlight__tr__1 > .table__td__1 {
    background-color: #2b2e5e;
}

.title__table__1 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: -10px;
}
/*Shgn end*/