.background {
    background-color: #20274e;
}

.first-column {
    height: 480px;
}

.desktop-left {
    float: right!important;
}

.desktop-right {
    float: left!important;
}

@media only screen and (max-width:680px) {
    .square2 {
      width:35px!important;
    }
}

@media only screen and (max-width:980px) {
    .desktop-right, .desktop-left {
        float: none!important;
    }
}

.second-column {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.main>[class*='col-'] {
    padding-right: 0;
    padding-left: 15px;
}

.col-md-12.col-lg-6.no-gutter.container-fluid.test1 {
    float: left;
    /* padding-left: 0px; */
    padding-left: 0px;
	padding-right:5px;
}

.no-gutter.col-md-12.col-lg-6.container-fluid.test2 {
    float: left;
	 padding-left: 0px;
    padding-right: 0px;
}

.col-md-12.col-lg-12.row.container-fluid {
    margin-left: 0px;
}

.no-gutter.col-md-12.no-gutter.col-lg-12.row {
    margin-left: 0px;
    /* margin-top:20px; */
}

.test1 {
    /* background: red;     */
   /* float: left;
    overflow: hidden;
    flex: 0 0 50%;
    max-width: 50%;
     margin-left:15px; */
}

.test2 {
    /* background: green;
    float: left;
    overflow: hidden;
    flex: 0 0 50%;
    max-width: 50%;   */
}

.first-column {
     padding-right: 0px!important;
    padding-left: 0px!important;
}

/*new version*/

/*
.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}*/

body {
    color: white!important;
}

.sidebar-expanded {
    width: unset!important;
}

.tables-string-gno {
    font-size: 14px;
    /* position: relative; */
    /* width: 220px; */
    background-color: #20274e;
    text-align: left;
    /*height: 240px;*/
    height: 220px;
    margin-bottom: 5px;
}

[class*='tables-string-gno'][class*='col-']
{
    padding: 15px 8px 8px;
}

.tables-string-gno1-1 {
    font-size: 14px;
    /* position: relative; */
    /* width: 220px; */
    background-color: #20274e;
    padding: 15px 8px 8px;
    text-align: left;
    height: 172px;
    margin-bottom: 5px;
}

.tables-string-gno1 {
    font-size: 14px;
    /*font-weight: bold;*/
    position: relative;
    /* width: 260px; */
    background-color: #20274e;
    padding: 13px 15px;
    text-align: left;
    height: 45px;
    margin-bottom: 15px;
    /* border-top-color: #1b6bb0; */
    /* border-top-style: solid; */
    /* border-top-width: 1px; */
}

.tables-string-gno2 {
    font-size: 12px;
    position: relative;
    /* width: 260px; */
    background-color: #20274e;
    padding: 15px 15px;
    text-align: left;
    height: 280px;
    margin-bottom: 15px;
}

.checkbox-hidden {
    position: absolute;
    margin-top: 4px;
}

.tables-string-gno3 {
    font-size: 12px;
    position: relative;
    /* width: 1490px; */
    background-color: #20274e;
    padding: 15px 15px;
    text-align: left;
    height: 510px;
    margin-bottom: 15px;
    /* margin-left: 15px; */
}

.tables-string-gno4 {
    float: left;
    font-size: 12px;
    position: relative;
    /* width: 738px; */
    /* background-color: #20274e; */
    /* padding: 15px 15px; */
    text-align: left;
    height: 220px;
    margin-bottom: 5px;
    /* margin-left: 15px; */
    border-right-style: solid;
    border-color: #0F1430;
    border-right-width: 20px;
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.tables-string-gno44 {
    float: left;
    font-size: 12px;
    position: relative;
    /* width: 738px; */
    /* background-color: #20274e; */
    text-align: left;
    height: 280px;
    margin-bottom: 5px;
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.tables-string-gno5 {
    margin-top: 15px;
    padding-right: 10px!important;
    float: left;
    font-size: 16px;
    position: relative;
    /* max-width: 745px!important; */
    background-color: #293688;;
    padding: 10px 0px;
    text-align: left;
    margin-bottom: 15px;
    /* margin-left: 15px; */
    min-height: 45px;
    text-align: center;
    /* font-weight:bold; */
    /* border-right-style: solid; */
    /* border-color: #0F1430; */
    /* border-right-width: 20px; */
    border-radius: 9px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    width: 674px;
    align-items: center;
    height: 30px;
    max-width: 99.9%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    line-height: 18px;
    cursor: pointer;
}

.tables-string-gno5:active {
    background-color: #144079;
    box-shadow: 0 2px #666;
    transform: translateY(0.02px);
    filter: blur(0.3px);
}

.tables-string-gno5:hover {
    background-color: #484749;
}

.tables-string-gno55 {
    max-width: 100%;
    float: left;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    /* width: 738px; */
    background-color: #293688;;
    padding: 10px 0;
    margin-top: 15px;
    /* margin-left: 15px; */
    min-height: 45px;
    text-align: center;
    /* font-weight:bold; */
    border-radius: 9px;
    margin-bottom: 15px;
    width: 680px;
    height: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    line-height: 18px;
    cursor: pointer;
}

.tables-string-gno55:active {
    background-color: #144079;
    box-shadow: 0 2px #666;
    transform: translateY(0.02px);
    filter: blur(0.3px);
}

.tables-string-gno55:hover {
    background-color: #484749;
}

.tables-string-gno6 {
    float: left;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    background-color: #15509D;
    padding: 15px 15px;
    /* margin-left: 15px; */
    height: 44px;
    /* font-weight:bold; */
    background: rgba(19, 176, 98, 0.8);
    /* width: 1492px; */
    border-radius: 8px;
    text-align: center;
    margin-bottom: 15px;
    line-height: 18px;
    cursor: pointer;
}

.tables-string-gno6:active {
    background-color: #144079;
    box-shadow: 0 2px #666;
    transform: translateY(0.02px);
    filter: blur(0.3px);
}

.tables-string-gno6:hover {
    background-color: #484749;
}

.cell4-gno {
    /* width: 115px; */
    float: left;
    /* padding: 2px 0px; */
}

.cell4-gno-second {
    /* width: 75px!important; */
    float: left;
    padding: 2px 5px;
    /* height: 24px; */
    /* padding-right: 15px!important; */
    padding-left: 10px!important;
}

/*
.cell4-gno-second-bigger {
    width: 75px!important;
    float: left;
    padding: 2px 5px;
    height: 43px;
}*/

.table-border-gno {
    border-left-color: #3b4172;
    border-left-style: solid;
    border-left-width: 1px;
}

.table-border-gno-top {
    border-top-color: #3b4172;
    border-top-style: solid;
    border-top-width: 1px;
}

.table-border-gno-right {
    border-right-color: #3b4172;
    border-right-style: solid;
    border-right-width: 1px;
}

.select-well {
    float: left;
    /*font-weight: bold;*/
    margin-bottom: 10px;
    font-size: 14px;
}

/* .tables-one {}

.tables-two {} */

.select-gno {
    /* width: 100%; */
    /* text-align: center; */
    background: #20274e;
    color: white;
    border-color: transparent;
    border-width: 1px;
    margin-left: -16px;
    padding: 0px 0px 0px 9px;
    outline: none;
}

.select-gno2 {
    width: 95px;
    /* text-align: center; */
    background-color: #494aa5;
    color: white;
    /* border: 1px solid #00CCFF; */
    outline: none;
    /*обводка inputov - */
    border-width: 0px;
    /*обводка inputov -*/
    /* margin-left: -16px; */
    /* padding: 0px 10px 4px 0px; */
    height: 24px;
    margin-top: -1px;
    /*background: ;*/
}

.select-gno2:invalid:focus {
    background: red;
}

/*
select:invalid:not(:focus) {
  color: gray;
}

select:focus option {
  color: initial;
}*/

input.checkbox0 {
    margin-top: 2px;
    position: relative;
    float: right;
}

.apexcharts-menu-item {
    color: black;
}

/* CSS hidden table

.spoiler>input+.box {
    display: none;
}

.spoiler>input:checked+.box {
    display: block;
}
*/

.spoiler>input+.box>blockquote {
    display: none;
}

.spoiler>input:checked+.box>blockquote {
    display: block;
}

.spoiler>input[type="checkbox"] {
    cursor: pointer;
    border-color: transparent!important;
    border-style: none!important;
    background: transparent none!important;
    position: relative;
    z-index: 1;
    margin: -10px 0 -30px -470px;
}

.spoiler>input[type="checkbox"]:focus {
    outline: none;
    /* Убираем обводку в ИЕ8 при "фокусе" */
}

.spoiler span.closer, .spoiler span.open {
    padding-left: 22px;
    /* color: #00f!important; */
    text-decoration: underline;
}

.spoiler>input+.box>span.closer {
    display: none;
}

.spoiler>input:checked+.box>span.closer {
    display: inline;
}

.spoiler>input:checked+.box>span.open {
    display: none;
}

.spoiler>input+.box>span.open {
    display: inline;
}

.spoiler blockquote, .spoiler {
    overflow-x: hidden;
}

blockquote {
    width: 100%;
}

span.open, span.closer {
    margin-left: -50px;
    margin-top: 10px;
    font-size: 12px;
}

.spoiler {
    font-size: 14px;
    position: relative;
    background-color: #20274e;
    padding: 8px;
    text-align: left;
    margin-bottom: 5px;
}

.spoiler-device {
    background-color: #20274e;
}

.relative {
    position: relative;
    float: left;
}

.left-center {
    margin-left: 15px;
}

.text1 {
    margin-left: 10px;
}

.text2 {
    margin-left: 92px;
}

input.checkbox2 {
    float: left;
    margin-left: 55px;
    outline: none;
    border: 0px;
}

.inclinom-button {
    float: left;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(41, 54, 136, 1);
    ;
    padding: 8px 30px;
    height: 38px;
    width: 100%;
    /* margin-top: -53px; */
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(58, 55, 55, 0.1);
    /* box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, .8), inset rgb(0 0 0 / 21%) -5px -5px 8px 5px, inset rgb(255 255 255 / 14%) 5px 5px 8px 5px, 1px 1px 1px rgba(255, 255, 255, .1), -2px -2px 5px rgba(0, 0, 0, .5); */
    text-align: center;
    margin-bottom: 5px;
}

/* .inclinom:hover {
    background-color: #1b6bb0;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.29);
    color: #fff;
    transform: translateY(-7px);
  } */

.inclinom-button:active {
    background-color: #144079;
    box-shadow: 0 2px #666;
    transform: translateY(0.02px);
    filter: blur(0.3px);
}

.inclinom-button:hover {
    background-color: #484749;
}

.text3 {
    /* width: 20px; */
}

input.checkbox3 {
    margin-right: 8px;
}

.target {
    float: left;
}

.square2 {
    /* border: 1px solid #00CCFF; */
    background: rgba(76, 190, 237, 0.278431);
    outline: none;
    width: 60px;
    height: 20px;
    position: relative;
    color: white;
    top: 0px;
    /* left: -15px; */
    /* text-align: center; */
}

.center {
    margin-top: 10px;
}

input[type="radio"] {
    /* Base Styles aka unchecked */
    font-weight: 300;
    font-size: 16px;
    color: #237DEB;
}

input[type="radio"]:not(:checked) {
    /* Explicit Unchecked Styles */
    border: 1px solid #FF0000;
}

input[type="radio"]:checked {
    /* Checked Styles */
    font-weight: 900;
    color: #237DEB;
}

input[type="text"]:disabled.square2 {
    background:rgba(50, 51, 112, 1);
    color: #928f8f;
    outline: none;
    border: 0px;
    /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat; */
}

input[type="text"]:enabled.square2 {
    background: #494AA5;
    outline: none;
    border: 0px;
}

.square3 {
    background: #323370;
    border: 1px solid #272953;
    outline: none;
    width: 100px;
    height: 22px;
    color: white;
    /*top: 0px;*/
    box-sizing: border-box;
    border-radius: 2px;
}

input[type="text"]:enabled.square3 {
}

iframe.iframe {
    width: 1300px;
    height: 500px;
}

.tables-string-gno44-inner {
    padding: 15px 0px;
    height: 100%;
    background-color: #2b2e5e;
    margin-bottom: 5px;
}

.tables-string-gno4-inner {
    padding: 15px 0px;
    height: 100%;
    background-color: #20274e;
    margin-bottom: 5px;
}


.modal-bign {
    color: black;
    background: #20274e;
    overflow-y: auto;
    max-height: 800px;
}

.modal-bign2 {
    color: black;
    overflow-y: auto;
    max-height: 800px;
    background: #134487;
}

table {
    color: black;
    height: 1000px;
}

.table-fixed-head {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    height:150px;
    overflow:auto;
}

.h3-title {
    text-align: left;
}
/* .table-fixed-head thead {
    position: absolute;
    width:100%;
    border:1px solid red;
}

.table-fixed-head table {
    width:100%;
} */

td {
    border: solid 1px #000;
    text-align: center;
    width: 80px;
    border-color: #1b6bb0;
    border-style: solid;
    border-width: 1px;
    background: #0F1430;
    color: white;
}

.table th, .table td {
    border-top: 1px solid #1b6bb0!important;
}

.layers {
    transform: scale(0.8) translate(-0px, 0);
}

.chart {
    margin-top: -15px;
}

.modal-analysis-menu {
    color: white;
    overflow-y: auto;
    max-height: 500px;
    margin-right: 400px;
    left: 80%;
    top: 20%;
    background: #20274e;
    position: absolute;
}

.modal_analysis_menu_new {
    color: white;
    overflow-y: auto;
    max-height: 500px;
    margin-right: 400px;
    left: 75%;
    top: 20%;
    background: #20274e;
    position: absolute;
}

.old_well_button {
    width: 220px;
    height: 47px;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #237DEB;
    border-radius: 21px;
    margin-right: 200px;
    white-space: pre-wrap;
    margin-top: 140px;
    border: 1px solid #337fed;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #1570cd;
    letter-spacing: 0.08em;
    outline: none !important;
}

.old_well_button:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
}

.old_well_button:active {
    position: relative;
    transform: translateY(1px);
    outline: none !important;
    box-shadow: 0 2px #666;
}

.checkbox1 {
    border: 15px solid transparent;
    text-align: left;
}

.nno-modal {
    background-color: #134487;
    width: 1300px;
    height: 650px;
}

.button-nno {
    width: 750px;
    height: 50px;
    margin-left: 260px;
    margin-bottom: 30px;
    border-radius: 23px;
    font-size: 18px;
    background-color: #237DEB;
    font-weight: 300;
}

.nno-icon {
    margin-left: 999px;
    margin-bottom: 48px;
}

.nno-info-button {
    width: 800px;
    height: 24px;
    right: 300px;
    align-items: center;
}

.nno-title {
    font-size: 25px;
    text-align: center;
    background-color: #134487;
}

.checkbox-modal-analysis-menu {
    color: #134487;
}

.checkbox-modal-analysis-menu input[type="radio"] {
    display: none;
}

.checkbox-modal-analysis-menu input[type="radio"] ::before {
    color: #1570cd;
}

.checkbox-modal-analysis-menu input[type="radio"]:checked {
    color: #1570cd;
}

.tablePgno {
    width: 100%;
    height: 100%;
}

.podbor-gno {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #153e7c;
}

.image-data {
    width: 500px;
    height: 450px;
    margin-left: 230px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    background-color: #153e7c;
}

.podborgnoimg {
    background-color: #153e7c;
}

.img-text {
    width: 50px;
    height: 450px;
    background-color: #153e7c;
}

.text_img_1 {
    width: 200px;
    height: 27px;
    margin-left: 120px;
    margin-top: 43px;
    font-size: 13px;
    background-color: #153e7c;
}

.text_img_2 {
    width: 150px;
    height: 26px;
    margin-left: 207px;
    margin-top: 0px;
    font-size: 13px;
    background-color: #153e7c;
}

.text_img_3 {
    width: 200px;
    height: 90px;
    margin-left: 126px;
    margin-top: 0px;
    font-size: 13px;
    background-color: #153e7c;
}

.text_img_4 {
    width: 200px;
    height: 83px;
    margin-left: 108px;
    margin-top: 0px;
    font-size: 13px;
    background-color: #153e7c;
}

.text_img_5 {
    width: 200px;
    height: 45px;
    margin-left: 100px;
    margin-top: 0px;
    background-color: #153e7c;
    font-size: 13px;
}

.text_img_6 {
    width: 150px;
    height: 75px;
    margin-left: 189px;
    margin-top: 0px;
    font-size: 13px;
    background-color: #153e7c;
}

.text_img_7 {
    width: 250px;
    height: 34px;
    margin-left: 30px;
    margin-top: 0px;
    font-size: 13px;
    background-color: #153e7c;
}

.text_img_8 {
    width: 160px;
    height: 26px;
    margin-left: 118px;
    margin-top: 0px;
    font-size: 13px;
    background-color: #153e7c;
}

.table-pgno-button {
    font-size: 13px;
    width: 1200px;
    height: 450px;
    background-color: #153e7c;
    display: flex;
    justify-content: flex-start;
}

.table-title-pgno {
    text-align: center;
    font-size: 16px;
}

.table-pgno-one {
    width: 170px;
    height: 225px;
    display: flex;
    margin-left: 30px;
    margin-top: 100px;
    background-color: #20274e;
}

.table-pgno-two {
    width: 150px;
    height: 225px;
    margin-left: 10px;
    margin-top: 100px;
    display: flex;
    background-color: #20274e;
}

.table-pgno-four {
    width: 250px;
    height: 225px;
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    background-color: #20274e;
}

.table-pgno {
    height: 225px;
    font-size: 13px;
}

.table-pgno {
    display: table;
    background-color: #20274e;
}

/* .tr-pgno {
    display: table-row; }
.td-pgno {
    width: 20px;
    display: table-cell;
    border: 5px #134487;
 }
.tbody-pgno { display: table-row-group; }
.thead-pgno { display: table-row-group; }
.th-pgno { display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center; } */

.tr-pgno {
    display: table-row;
    background-color: #20274e;
}

.td-pgno {
    display: table-cell;
    text-align: center;
    height: 10px;
    width: 100px;
    position: static;
    background-color: #20274e;
}

.thead-pgno {
    display: table-header-group;
    background-color: #20274e;
}

.tbody-pgno {
    display: table-row-group;
    background-color: #20274e;
}

.th-pgno {
    display: table-cell;
    font-weight: bold;
    text-align: center;
    height: 0px;
    position: static;
    background-color: #20274e;
}

.choosing-well-title {
    font-size: 20px;
    font-weight: bold;
    bottom: 4%;
}

.choosing-well-data {
    float: left;
    background-color: #2b2e5e;
    height: 24px;
}

.construction {
    font-size: 20px;
    font-weight: bold;
    bottom: 5%;
}

.construction-data {
    height: 24px;
    width: 120px;
    background-color: #2b2e5e;
    float: left;
}

.devices-title {
    font-size: 16px;
    left: 10%;
}

.devices-data {
    float: left;
    font-size: 14px;
    background-color: #2b2e5e;
    height: 24px;
}

.pvt-title {
    font-size: 16px;
    font-weight: bold;
}

.technological-mode-title {
    font-size: 16px;
    font-weight: bold;
}

.pvt-data {
    float: left;
    font-size: 14px;
    background-color: #2b2e5e;
    height: 24px;
}

.tech-title {
    font-size: 20px;
    font-weight: bold;
    bottom: 4%;
}

.tech-data {
    float: left;
    font-size: 14px;
    background-color: #2b2e5e;
    height: 24px;
}

.podbor-gno-title-2 {
    background-color: #2b2e5e;
    height: 30px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.podbor-gno-title-1 {
    font-size: 20px;
    font-weight: bold;
}

.podbor-gno-title-3 {
    font-size: 16px;
    font-weight: bold;
    float: left;
    height: 50px;
    top: 10%;
    background-color: #2b2e5e;
}

.label-for-celevoi {
    font-size: 16px;
}

.celevoi-options {
    background-color: red;
}

.input-podbor-gno {
    outline: none;
    width: 60px;
    height: 20px;
    position: relative;
    color: white;
    top: 0px;
}

.option-inflow-curve {
    left: 25px;
}

.option-q-inflow-curve {

}

.q-liquid-input-podbor-gno {
    outline: none;
    width: 70px;
    height: 20px;
    position: relative;
    color: white;
    top: 0px;
    float: left;
}

.podbor-gno-params {
    float: left;
    top: 15px;
    background-color: #2b2e5e;
}

/* настройки кривой притока, классы чекбоксов */

input.checkbox-k-prod {
    margin-left: 0px;
    outline: none;
    /*width: 0px;*/
    width: 14px;
    height: 14px;
    background: #237DEB;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

input.checkbox-q-liquid {
    margin-left: -0px;
    outline: none;
    border: 0px;
    width: 14px;
    height: 14px;
    background: #237DEB;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    /*width: 0px;*/
}

.option-curve-line-1 {
    height: 30px;
}

.right-block-details {
    margin: 0px;
}

/* Параметры подбора */


.bottom-configuration {
    background: #272953;
    padding: 15px 30px 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.inflow-configuration-min-width
{
    min-width: 520px;
    min-height: 229px;
}

.inflow-configuration
{
    background-color: #2B2E5E;
    padding-left: 36px;
    padding-right: 41px;
}

.select-params
{
    background-color: #2B2E5E;
    min-height: 229px;
    min-width: 520px;
    padding-left: 28px;
    padding-right: 39px;
}

.ic-top-row
{
    padding-top: 4px;
}

.ic-bottom-row
{
    padding-bottom: 4px;
}

.ic-min-block1
{
    min-width: 70px;
}

.ic-min-block2
{
    min-width: 125px;
}

.ic-min-block3
{
    min-width: 110px;
}

.ic-ar
{
    text-align: right;
    padding-right: 5px;
}

/* .vm--modal {} */
.table-border-gno-left-right {
    border-right-color: #3b4172;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: #3b4172;
    border-left-style: solid;
    border-left-width: 1px;
}


.bottom-configuration-header
{
    font-size: 20px;
    font-width: bold;
    padding-bottom: 18px;
}

#table-wrapper {
    position:relative;
  }
  #table-scroll {
    height: 530px;
    overflow:auto;
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;

  }
  #table-wrapper table * {
    background: #20274e;
    color: white;
  }
  #table-wrapper table thead th .text {
    position:absolute;
    top:-20px;
    z-index:2;
    height:28px;
    width:50%;
    color: #1570cd;
    border: 1px solid #1b6bb0;
  }