.paegtm-main {
    height: 100%;
    background-image: url("/img/GTM/main_bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.menu-item-bg {
    background: rgba(51,57,117,1);
}

.menu-item {
    font-weight: 700;
    line-height: 2rem;
    color: white;
}

.menu-item:hover {
    color: white;
    text-decoration: none;
}

.menu-item-active {
    background: rgba(44,68,189,1);
}

.main-category {
    padding: 2rem 1rem;
    font-size: 1.8rem;
}

.mini-category {
    padding: 0.2rem 0 0.2rem 1rem;
    font-size: 1rem;
}

.main-menu-font {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;
    color: white !important;
}

.menu-border {
    border: 1px solid rgba(51,57,117,1);
}

.cursor-pointer {
    cursor: pointer;
}

.mh-750 {
    min-height: 750px;
}

.dark-bg {
    background: rgba(0, 0, 0, 0.3);
}

.text-not-link {
    color: #999999;
}

.text-not-link:hover {
    text-decoration: none;
    color: #999999;
}

.mh-370 {
    max-height: 370px;
}

.calendar-filter-block {
    height: 2.2rem;
    min-width: 2.4rem;
    border-radius: 0.25rem;
    background-color: rgba(93, 95, 127, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.calendar-filter-block .calendar-icon {
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
}

.search-input {
    background: rgba(39, 41, 83, 1);
    border: none;
    line-height: 1.8rem;
    color: white;
}

.search-input::placeholder {
    color: rgba(158, 164, 201, 1);
    padding-left: 1rem;
}

.search-button {
    color: white;
    border: none;
    border-radius: 0.15rem;
    background: rgba(51, 102, 255, 1);
}

.gtm-dark {
    background: #272953;
}

.gtm-menu div {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: #656A8A;
}

.gtm-menu div:hover {
    color: white;
    cursor: pointer;
}

.gtm-menu div.active {
    color: white;
    border-bottom: 0.2rem solid white;
}

.block-header {
    background: rgba(69,77,125,0.32);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.block-header-light {
    background: rgba(130, 144, 224, 0.32);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.gtm-map-img {
    height: 280px;
}

.near-wells-table-block {
    max-height: 400px
}

.table-scroll::-webkit-scrollbar {
    width: 0.2rem;
}

.table-scroll::-webkit-scrollbar-thumb
{
    background-color: #3951CE;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.near-wells {
    font-size: 0.7rem;
    line-height: 0.7rem;
}

.near-wells-big {
    font-size: 0.8rem;
    font-weight: 600;
}

.near-wells-table-item td {
    border-top: 1px solid !important;
    border-color: #454D7D !important;
}

.near-wells-table-item td:not(:last-child) {
    border-right: 1px solid !important;
    border-color: #454D7D !important;
}

.schemaTable {
    font-size: 0.6rem;
}

.schemaTHead {
    background-color: #3951CE;
}

.schemaTHead th {
    padding: 0;
}

.schemaTHead th {
    border-right: 1px solid !important;
    border-color: #3C4270 !important;
}

.treeUl {
    color: white;
    list-style: none;
}

.list-style-none {
    list-style: none;
}

.cursor-pointer {
    cursor: pointer;
}

.tree-setting-block {
    left: 19.6rem;
    z-index: 1;
}

.tree-setting-block .block-header {
    padding: 0 1rem;
}

.gtm-setting-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.gtm-setting-checkbox-div {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.gtm-setting-custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(35, 125, 235, 0.3);
    border-radius: 0.25em;
    margin: 0 0.2rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.h-324 {
    height: 324px;
}

.mh-324 {
    max-height: 324px;
}

.h-400 {
    height: 400px;
}

.mh-400 {
    max-height: 400px;
}

/*mobile*/
@media screen and (max-width : 1600px) {
    .gtm-map-img {
        height: 280px;
        max-height: 320px;
    }
}

@media screen and (max-width : 1500px) {
    .gtm-map-img {
        height: 260px;
        max-height: 300px;
    }
}

@media screen and (max-width : 1400px) {
    .gtm-menu div {
        font-size: 1rem;
        line-height: 2.8rem;
    }

    .gtm-map-img {
        height: 240px;
        max-height: 280px;
    }
}

@media screen and (max-width : 1300px) {
    .gtm-map-img {
        height: 220px;
        max-height: 240px;
    }
}

@media screen and (max-width : 1200px) {
    .gtm-menu div {
        font-size: 0.8rem;
        line-height: 2.4rem;
    }

    .gtm-map-img {
        height: 190px;
        max-height: 210px;
    }
}

@media screen and (max-width : 991px) {
    .gtm-menu {
        display: none !important;
    }
}

@media screen and (max-width : 768px) {
}

