.trfa_page.trfa_page {
    padding: 0 !important;
    width: calc(100vw - 65px);
    display: flex;
    margin-left: 44px;
}
.trfa_page .level1-content  {
    margin: 0;
    width: 100%;
}
.trfa_page .main {
    padding: 0;
    margin: 0;
}  
#app#app > .container-fluid {
    max-width: unset;
}