.trfa_page.trfa_page {
    padding: 0 !important;
    display: flex;
    position: static;
}
.trfa_page .level1-content  {
    margin: 0;
    width: 100%;
}
.trfa_page .main {
    padding: 0;
    margin: 0;
}  
#app > .container-fluid.container-fluid {
    max-width: calc(100% - 89px);
    margin-bottom: 0 !important;
    position: static;
}