#app .multiselect {
    z-index: 3050;
}

#app .multiselect--active{
    z-index: 3060;
}

#app .multiselect {
    margin: 0 0 0 auto;
}

#app .multiselect__tags,
#app .multiselect__content,
#app .multiselect__content-wrapper {
    background: #272953;
    border: 1px solid #656a8a;
    color: #fff;
}

#app .multiselect, #app .multiselect__select, #app .multiselect__option {
    height: 35px;
    min-height: 35px;
}

#app .multiselect__tags {
    min-height: 35px;
    padding: 6px 40px 0 8px;
}

#app .multiselect__placeholder,
#app .multiselect__option {
    background: #272953;
    color: #fff;
}

#app .multiselect__tags-wrap:not(:first-child) {
    display: none;
}

.multiselect__option__item {
    display: flex;
}

.multiselect__option__checkbox {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    border: 1px solid #237DEB;
    background: #FFFFFF;
    box-sizing: border-box;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multiselect__option--selected .multiselect__option__checkbox,
.multiselect__option--group-selected .multiselect__option__checkbox {
    background: #237DEB;
}

.multiselect__option__checkbox__check {
    display: none;
}

.multiselect__option--selected .multiselect__option__checkbox__check,
.multiselect__option--group-selected .multiselect__option__checkbox__check {
    display: block;
}

.chart-labels {
    font-size: 10px;
    line-height: 14px;
    height: 14px;
}

#app {
    width: 100%;
    flex-wrap: nowrap;
}

#app>.container-main.container-main {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    box-sizing: border-box;
    display: flex;
    margin: 0 !important;
    padding: 13px !important;
    overflow-x: overlay;
    min-width: unset;
    width: unset;
    max-width: unset;
}

#app>.sidebar-container2 {
    flex-grow: 0;
    flex-basis: 57px;
    flex-shrink: 0;
}

li.left-menu-li.left-menu-li {
    min-width: 250px;
}