.main-content-block {
    margin-top: 2.5rem;
}

.z-index-1 {
    z-index: 1;
}

.menu-item-bg {
    background: rgba(51,57,117,1);

    &:first-child {
        border-radius: 0.25rem 0.25rem 0 0;
        padding-top: 0.5rem;
    }

    &:last-child {
        border-radius: 0 0 0.25rem 0.25rem;
        padding-bottom: 0.5rem;
    }
}

.menu-item {
    font-weight: 700;
    line-height: 2rem;
    color: white;
}

.menu-item-active {
    background: rgba(44,68,189,1);
}

.menu-item-bottom-border:not(:last-child) {
    border-bottom: 1px solid rgba(69,77,125,1);
}

.main-menu-font {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.7rem;
    color: white !important;
}

.menu-border {
    border: 1px solid rgba(51,57,117,1);
}

.cursor-pointer {
    cursor: pointer;
}

.mh-710 {
    min-height: 710px;
}

.dark-bg {
    background: rgba(0, 0, 0, 0.3);
}

.text-not-link {
    color: #999999;
}

.text-not-link:hover {
    text-decoration: none;
    color: #999999;
}

.mh-370 {
    max-height: 370px;
}

.calendar-filter-block {
    height: 2.2rem;
    min-width: 2.4rem;
    border-radius: 0.25rem;
    background-color: rgba(93, 95, 127, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 0.9rem;
    padding: 0.5rem;

    .calendar-icon {
        margin-bottom: 0.2rem;
        margin-left: 0.5rem;
    }
}

.search-input {
    height: 2rem;
    background: rgba(39, 41, 83, 1);
    border: none;
    line-height: 1.8rem;
    color: white;

    &::placeholder {
        color: rgba(158, 164, 201, 1);
        padding-left: 1rem;
    }
}

.search-button {
    height: 2rem;
    color: white;
    border: none;
    border-radius: 0.15rem;
    background: rgba(51, 102, 255, 1);
}

.gtm-dark {
    background: rgba(39, 41, 83, 1);
}

.gtm-dark-light {
    background: rgba(51, 57, 117, 1);
}

.gtm-dark-light-transparent {
    background: rgba(51, 57, 117, 0.33);
}

.gtm-dark-2 {
    background: rgba(31, 33, 66, 1);
}

.block-header {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.block-header-light {
    background: rgba(130, 144, 224, 0.32);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.gtm-main-map-img {
    height: 24rem;
}

.gtm-map-img {
    height: 280px;
}

.table-scroll::-webkit-scrollbar {
    width: 0.2rem;
}

.table-scroll::-webkit-scrollbar-thumb
{
    background-color: #3951CE;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.near-wells-big {
    font-size: 0.8rem;
    font-weight: 600;
}

.near-wells-table-item td {
    border-top: 1px solid !important;
    border-color: #454D7D !important;
}

.near-wells-table-item td:not(:last-child) {
    border-right: 1px solid !important;
    border-color: #454D7D !important;
}

.treeUl {
    color: white;
    list-style: none;
}

.list-style-none {
    list-style: none;
}

.cursor-pointer {
    cursor: pointer;
}

.tree-setting-block {
    right: 100%;

    div {
        min-width: 20rem;
    }

    .block-header {
        padding: 0 1rem;
    }
}

.podbor-middle-table {
    border: 1px solid rgba(69,77,125,1);

    th {
        border: 1px solid rgba(69,77,125,1) !important;
        background-color: #333975;
        font-size: 0.9rem;
        padding: 0.3rem !important;
    }

    td {
        font-size: 0.8rem;
        padding: 0.3rem !important;
        border-top: none !important;
    }

    td:not(last-child) {
        border-right: 1px solid rgba(69,77,125,1);
    }
}

.dr-border-light {
    border: 0.1rem solid rgba(69, 77, 125, 1);
}

.dr-wt-table {
    border-collapse: collapse;
    margin: 0;

    tbody tr td {
        background: rgba(31, 33, 66, 1);
        border: 0.5rem solid rgba(39, 41, 83, 1);
        padding: 0.8rem 0.5rem;
        font-size: 0.8rem;
    }

    tbody tr td:first-child {
        vertical-align: top;
        border-left: none;
        padding: 0.1rem;
    }

    tbody tr td:first-child img {
        margin-bottom: 0.3rem;
    }

    tbody tr td:last-child {
        border-right: none;
    }

    tbody tr:first-child td {
        border-top: none;
    }

    tbody tr:last-child td {
        border-bottom: none;
    }

    tbody tr td:first-child div {
        width: 1.2rem;
        word-wrap: break-word;
    }

    tbody tr td div {
        width: 5rem;
        word-wrap: break-word;
    }
}

.dr-search-bg {
    background: rgba(57, 61, 117, 1);
}

.dr-search-border-radius {
    border-radius: 0.3rem;
}

.dr-map-bg {
    background: rgba(43, 46, 94, 1);
}

.dr-fw-700 {
    font-weight: 700;
}

.dr-fs-08 {
    font-size: 0.8rem;
}

.dr-graph-switch {
    > div {
        height: 4rem;
        background: rgba(51, 57, 117, 1);
        margin-bottom: 1rem;
    }

    > div:last-child {
        margin-bottom: 0;
    }

    span {
        font-size: 0.8rem;
        color: #9EA4C9;
    }
}

.shadow-block {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.gtm-indicator-item {
    :not(:last-child) {
        border-right: 1px solid rgba(69, 77, 125, 1);
    }

    div {
        margin: 1rem 0;
    }

    .bigNumber {
        color: white;
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
    }

    .units {
        color: rgba(130, 186, 255, 1);
        font-size: 1rem;
    }

    .title {
        color: white;
        font-size: 1rem;
        font-weight: 700;
        margin: 0;
    }

    .progress-bar {
        margin: 0;
    }

    .progressMax {
        color: rgba(130, 186, 255, 1);
    }
}

.gtm-progress {
    height: 0.5rem !important;
}

.switch-map-button {
    color: #FFF;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    background: rgba(101, 106, 138, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.r-100 {
    right: 100%;
}

/*modal*/
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 70vw;
    margin: 0px auto;
    padding: 20px 30px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-default-button {
    float: right;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.gtm-main-table {
    min-height: 25rem;
}

.gtm-main-table th {
    padding: 1.3rem !important;
}

.gtm-main-table td {
    font-weight: 700;
}

/*mobile*/
@media screen and (max-width : 1900px) {
    .gtm-main-map-img {
        height: 24rem;
    }
}

@media screen and (max-width : 1800px) {
    .main-menu-font {
        font-size: 0.8rem;
    }

    .gtm-main-map-img {
        height: 23rem;
    }

    .gtm-map-img {
        height: 260px;
    }

    .gtm-indicator-item {
        .bigNumber {
            font-size: 2.9rem;
        }

        .title {
            font-size: 0.95rem;
        }
    }

    .gtm-main-table {
        min-height: 24rem;
    }
}

@media screen and (max-width : 1700px) {
    .main-menu-font {
        font-size: 0.7rem;
        line-height: 1.5rem;
    }

    .gtm-main-map-img {
        height: 22rem;
    }

    .gtm-map-img {
        height: 240px;
    }

    .calendar-filter-block {
        font-size: 0.8rem;

        .calendar-icon {
            width: 0.8rem;
            margin-left: 0.3rem;
        }

        .gear-icon {
            margin-top: 0.3rem;
        }
    }

    .demo-img {
        height: 330px;
    }

    .search-input, .search-button {
        height: 1.9rem;
        font-size: 0.8rem;
    }

    .gtm-indicator-item {
        .bigNumber {
            font-size: 2.8rem;
        }

        .title {
            font-size: 0.9rem;
        }

        .units {
            font-size: 0.8rem;
        }
    }

    .gtm-main-table {
        min-height: 23rem;
    }
}

@media screen and (max-width : 1600px) {
    .gtm-main-map-img {
        height: 21rem;
    }

    .gtm-map-img {
        height: 220px;
    }

    .demo-img {
        height: 310px;
    }

    .search-input, .search-button {
        height: 1.8rem;
        font-size: 0.7rem;
    }

    .block-header {
        font-size: 0.9rem;
    }

    .near-wells-table-item, .podbor-middle-table th {
        font-size: 0.8rem;
    }

    .gtm-indicator-item {
        .bigNumber {
            font-size: 2.6rem;
        }

        .title {
            font-size: 0.85rem;
        }
    }

    .gtm-main-table {
        min-height: 22rem;
    }
}

@media screen and (max-width : 1500px) {
    .gtm-main-map-img {
        height: 20rem;
    }

    .gtm-map-img {
        height: 200px;
    }

    .calendar-filter-block {
        height: 2rem;
        min-width: 2rem;
        padding: 0.2rem;

        .calendar-icon {
            width: 0.6rem;
            margin-left: 0.2rem;
        }

        .gear-icon {
            width: 0.8rem;
        }
    }

    .demo-img {
        height: 290px;
    }

    .search-input, .search-button {
        height: 1.7rem;
        font-size: 0.6rem;
    }

    .block-header {
        font-size: 0.8rem;
    }

    .near-wells-table-item {
        font-size: 0.7rem;
    }

    .podbor-middle-table {
        th {
            font-size: 0.8rem;
        }

        td {
            font-size: 0.7rem;
        }
    }

    .gtm-indicator-item {
        .bigNumber {
            font-size: 2.2rem;
        }

        .title {
            font-size: 0.8rem;
        }
    }

    .gtm-main-table {
        min-height: 21rem;
    }
}

@media screen and (max-width : 1400px) {
    .main-menu-font {
        font-size: 0.6rem;
        line-height: 1rem;
    }

    .gtm-main-map-img {
        height: 19rem;
    }

    .gtm-map-img {
        height: 180px;
    }

    .calendar-filter-block {
        font-size: 0.7rem;
    }

    .demo-img {
        height: 270px;
    }

    .search-input, .search-button {
        height: 1.6rem;
    }

    .block-header {
        font-size: 0.7rem;
    }

    .near-wells-table-item {
        font-size: 0.6rem;
    }

    .menu-item-bg.menu-title img {
        width: 20px;
        height: 20px;
    }

    .tree-main-ul {
        font-size: 0.6rem;
    }

    .gtm-main-table {
        min-height: 20rem;
    }
}

@media screen and (max-width : 1300px) {
    .gtm-main-map-img {
        height: 18rem;
    }

    .gtm-map-img {
        height: 160px;
    }

    .calendar-filter-block {
        font-size: 0.6rem;

        .calendar-icon {
            margin-bottom: 0.3rem;
        }
    }

    .demo-img {
        height: 250px;
    }

    .search-input, .search-button {
        height: 1.5rem;
        font-size: 0.5rem;
    }

    .podbor-middle-table {
        th {
            font-size: 0.7rem;
        }

        td {
            font-size: 0.6rem;
        }
    }

    .gtm-main-table {
        min-height: 19rem;
    }
}

@media screen and (max-width : 1200px) {
    .menu-item {
        font-size: 0.8rem;
    }

    .gtm-main-map-img {
        height: 17rem;
    }

    .gtm-map-img {
        height: 140px;
    }

    .demo-img {
        height: 230px;
    }

    .near-wells-table-item {
        font-size: 0.5rem;
    }

    .tree-main-ul {
        font-size: 0.5rem;
    }
}

@media screen and (max-width : 991px) {
    .menu-item-bg.menu-title img {
        width: 16px;
        height: 16px;
    }

    .main-menu-font {
        font-size: 0.5rem;
    }
}

@media screen and (max-width : 768px) {
}

