@import "./mixins.scss";

$default: #868BB2;
$primary: #2E50E9;
$success: #33CC66;
$danger: #C42525;
$accent: #333975;
$transparent: transparent;

$accent-darken: #1F2142;
$accent-darken-200: #1A214A;
$accent-darken-150: #242953;
$accent-darken-100: #323370;

$accent-100: #334296;
$accent-200: #454FA1;
$accent-300: #545580;
$accent-400: #454D7D;

$gray: #656A8A;

$darkenPercent: 10%;
$colorsArray: (
        default: ($default, white),
        primary: ($primary, white),
        success: ($success, white),
        danger: ($danger, white),
        accent: ($accent, white),
        transparent: ($transparent, black, rgba(white, 19%)),
        gray: ($gray, white),
        accent-darken: ($accent-darken, white),
        accent-darken-200: ($accent-darken-200, white),
        accent-darken-100: ($accent-darken-100, white),
        accent-darken-150: ($accent-darken-150, white),
        accent-100: ($accent-100, white),
        accent-200: ($accent-200, white),
        accent-300: ($accent-300, white),
        accent-400: ($accent-400, white),
);

:root {
  @each $key, $btnColor in $colorsArray {
    --a-#{$key}: #{nth($btnColor, 1)};
  }
}

.a-btn {
  @each $key, $btnColor in $colorsArray {
    --#{$key}: nth($btnColor, 1);
    &.#{"" + $key} {
      background: nth($btnColor, 1);
      color: nth($btnColor, 2);

      &:hover {
        background: if((length($btnColor)==3 and nth($btnColor, 3)), nth($btnColor, 3), darken(nth($btnColor, 1), $darkenPercent));
        color: if((length($btnColor)==4 and nth($btnColor, 4)), nth($btnColor, 4), nth($btnColor, 2));
      }
    }
  }
}
