.dropdown-menu.show {
	background: #333975 !important;
	border: 0.3px solid black;
}

.drop-filter-custom{
	background: #333975 !important;
	border-color: #333975 !important;
}
.b-dropdown-form {
	background: #333975!important;
	padding-left: 5px;
	font-size: 12px;
}
.dropdown-menu.show {
	display: flex;
	flex-direction: column;
	background: #333975!important;
}