.data-analysis-maps-and-tables {
  height: 100%;
}

.data-analysis {
  display: flex;
  color: #fff;

  &__content {
    width: calc(100% - 340px);
  }
}

.data-analysis__wrapper-img > img {
  height: 100%;
  width: 100%;
}

.table-holder {
  height: 350px;
}

.data-analysis__wrapper {
  background: #272953;
  padding: 8px;
  flex: 2 1 auto;
  margin-bottom: 10px;

  &-title {
    display: flex;
    align-items: center;
    background: #323370;
    border: 1px solid #545580;
    padding: 8px;
    height: 30px;
    /*width: calc(100% - 42px);*/

    .icon-title {
      background-color: #b3b6d1;
      border-radius: 5px;
      margin-right: 10px;
      width: 26px;
      text-align: center;
    }

    .fa-sliders-h {
      color: #868bb2;
      font-size: 16px;
    }

    span {
      font-size: 16px;
      color: #fff;
    }
  }

  &-img {
    height: 100%;
    background: #000;
    text-align: center;
    overflow: hidden;
  }

  img {
    display: block;
    width: 100%;
  }
}

.full {
  height: 700px;
}

.full img {
  height: 100%;
}

.next {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.next .data-analysis__wrapper-title {
  color: #fff;
  width: calc(100% - 35px);
}

.data-analysis__wrapper-title img {
  display: block;
  width: 17px;
  height: auto;
  margin-right: 10px;
}

.data-analysis__row_bottom {
  width: 31px;
  height: 30px;
  background: #333975;
  border: 1px solid #545580;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.data-analysis__row_bottom img {
  display: block;
  width: 14px;
  height: 6px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.data-analysis__row_bottom.active img {
  transform: rotate(180deg);
}

.data-analysis table.defaultTable {
  max-height: 600px;
  position: relative;
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  overflow-x: scroll;
}

.data-analysis table.defaultTable tbody {
  width: 120%;
  display: table;
}

.data-analysis table.defaultTable tr:nth-child(even) {
  background: rgba(69, 77, 125, 0.7);
}

.data-analysis table.defaultTable tr:nth-child(odd) {
  background: #34365d;
}

.data-analysis table.defaultTable td,
.data-analysis table.defaultTable th {
  border: 1px solid #454d7d;
  padding: 0.5rem 0.23rem;
  vertical-align: middle !important;
}

.data-analysis table.defaultTable td.head {
  background: #333975;
  height: 26px;
}

.data-analysis table.defaultTable th {
  font-size: 11px;
  background: #333975;
}

.data-analysis table.defaultTable::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #ffffff;
}

.data-analysis table.defaultTable::-webkit-scrollbar {
  width: 4px;
}
