.data-analysis-panel {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: #272953;
  width: 100%;
  height: 100%;
}

.data-analysis-panel__title {
  font-size: 16px;
  padding: 7px 15px;
  background: #323370;
  i {
    color: #868bb2;
    margin-right: 8px;
  }
  .fa-sliders-h {
    transform: rotate(90deg);
  }
}

.data-analysis-panel__area {
  padding: 4px 8px;
}

.settings-holder {
  margin-bottom: 10px;
}

.data-analysis-panel__area-setting {
  background: #363b68;
  padding: 8px;
}

input[type="checkbox"] {
  transform: scale(1.4);
  cursor: pointer;
}

.list {
  margin-bottom: 0;
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 2;
    label {
      margin-bottom: 0;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.data-analysis__input {
  background: rgba(31, 33, 66, 0.4);
  border: 0.5px solid #454fa1;
  border-radius: 2px;
  outline: none;
  min-width: 186px;
  padding: 4px 8px;
  color: #fff;
}

.data-analysis-panel__btns {
  width: 100%;
  padding: 0 6px;
}

.data-analysis-panel__btns > button {
  font-size: 14px;
  padding: 10px 7px;
}

.data-analysis-dropdown__body {
  padding: 0 !important;
}

.pressure__dropdown ul li:hover {
  background-color: #3366ff;
}

.map__table-area-settings {
  display: flex;
  align-items: center;
  background: #1d3583;
  border: 1px solid #545580;
}

.map__table-area-settings label {
  margin: 0 0 0 7px;
  display: block;
}
