.data-analysis-panel {
  background: #272953;
  width: 340px;
  margin-right: 10px;
  position: relative;
  padding-bottom: 60px;
}
.data-analysis-panel__title {
  font-size: 16px;
  padding: 15px;
  background: #323370;
  i {
    color: #868bb2;
    margin-right: 8px;
  }
  .fa-sliders-h {
    transform: rotate(90deg);
  }
}

.data-analysis-panel__area {
  padding: 4px 8px;
}

.data-analysis-panel__area-setting {
  background: #363b68;
  padding: 8px;
}

input[type="checkbox"] {
  transform: scale(1.4);
  cursor: pointer;
}

.list {
  margin-bottom: 0;
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 2;
    label {
      margin-bottom: 0;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.data-analysis__input {
  background: rgba(31, 33, 66, 0.4);
  border: 0.5px solid #454fa1;
  border-radius: 2px;
  outline: none;
  min-width: 186px;
  padding: 4px 8px;
  color: #fff;
}
.data-analysis-panel__btns {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.data-analysis-dropdown__body {
  padding: 0 !important;
}
.pressure__dropdown ul li:hover {
  background-color: #3366ff;
}
