$default: #868BB2;
$primary: #2E50E9;
$success: #33CC66;
$danger: #C42525;
$accent: #333975;
$yellow: #FFFF00;
$green: #00B150;
$blue: #3366FF;
$black: #000;
$transparent: transparent;

$accent-darken: #1F2142;
$accent-darken-400: #0F1430;
$accent-darken-300: #272953;
$accent-darken-200: #1A214A;
$accent-darken-150: #242953;
$accent-darken-100: #323370;

$accent-100: #334296;
$accent-200: #454FA1;
$accent-300: #545580;
$accent-400: #454D7D;

$gray: #656A8A;

$darkenPercent: 10%;

$colorsArray: (
        default: ($default, white),
        primary: ($primary, white),
        success: ($success, white),
        danger: ($danger, white),
        accent: ($accent, white),
        yellow: ($yellow, white),
        green: ($green, white),
        blue: ($blue, white),
        black: ($black, white),
        transparent: ($transparent, black, rgba(white, 19%)),
        gray: ($gray, white),
        accent-darken: ($accent-darken, white),
        accent-darken-400: ($accent-darken-400, white),
        accent-darken-300: ($accent-darken-300, white),
        accent-darken-200: ($accent-darken-200, white),
        accent-darken-100: ($accent-darken-100, white),
        accent-darken-150: ($accent-darken-150, white),
        accent-100: ($accent-100, white),
        accent-200: ($accent-200, white),
        accent-300: ($accent-300, white),
        accent-400: ($accent-400, white),
);

:root {
  @each $key, $btnColor in $colorsArray {
    --a-#{""+$key}: #{nth($btnColor, 1)};
  }
}

.tool-block {
  border: 1px solid var(--a-accent-300);
  background: var(--a-accent-darken-200);
  &-bg {
    &__content {
      @each $key, $btnColor in $colorsArray {
        &--#{"" + $key} {
          background: nth($btnColor, 1) !important;
        }
      }
    }
  }
}

.a-btn {
  @each $key, $btnColor in $colorsArray {
    --#{""+$key}: nth($btnColor, 1);

    &.#{'icon-color__' + $key} {
      svg {
        fill: rgba(nth($btnColor, 2), 0.5);
      }

      &:hover {
        svg {
          fill: darken(nth($btnColor, 2), $darkenPercent);
        }
      }
    }
    &.#{'active-btn__' + $key} {
      svg {
        fill: nth($btnColor, 2);
      }

      &:hover {
        svg {
          fill: darken(nth($btnColor, 2), $darkenPercent);
        }
      }
    }
    &.#{"" + $key}, &.#{'active-btn__' + $key} {
      background: nth($btnColor, 1);
      color: nth($btnColor, 2);

      &:hover {
        background: if((length($btnColor)==3 and nth($btnColor, 3)), nth($btnColor, 3), darken(nth($btnColor, 1), $darkenPercent));
        color: if((length($btnColor)==4 and nth($btnColor, 4)), nth($btnColor, 4), nth($btnColor, 2));
      }
    }

  }
}
