.aw-tree {
  background: var(--a-accent-darken-100);

  ul {
    list-style: none;
  }

  &__list {
    padding: 0;

    ul {
      padding-left: 1em;
      margin-top: 12px;
    }

    &-item {
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
      .label-wrapper {
        display: flex;
        align-items: center;

        .item {
          &:nth-child(1),
          &:nth-child(2) {
            width: 14px;
            height: auto;
          }

          &:nth-child(2) {
            margin: 0 10px;
          }
        }
      }

      &__label {
        color: #ffffff;
        user-select: none;
      }

      .state-box {
        width: 14px;
        height: 14px;
        border: 1px solid var(--a-default);
        border-radius: 4px;
        margin-right: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 300ms background ease-in-out;
        cursor: pointer;

        &:not(.opened) {
          background: var(--a-default);
        }
      }
      &:not(.is-folder){
        margin-left: 7px;
      }
      &.is-folder {
        position: relative;
        .label-wrapper {
          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}


.aw-tree{
  overflow: hidden;
  &__list {
    position: relative;
    margin-bottom: 0;
    ul{
      margin-bottom: 0;
      &:after{
        content: '';
        width: 0;
        height: 100%;
        position: absolute;
        top: 17px;
        left: 6px;
        border: 1px dashed var(--a-default);
      }
    }
    &-item {
      ul {
        .state-box{
          position: relative;
          &:after{
            content: '';
            position: absolute;
            width: calc(100% + 7px);
            left: calc(-100% - 8px);
            top: 5px;
            height: 1px;
            border: 1px dashed var(--a-default);
          }
        }
      }
    }
  }
}
