.btn-dropdown {
  position: relative;
  font-size: 14px;

  &__title {
    padding-right: 15px;
  }

  &__icon {
    display: block;
    position: absolute;
    top: 0;
    right: 12px;
    bottom: 3px;
    margin: auto;
    width: 8px;
    height: 8px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: translateY(-2px) rotate(45deg);
    transition: transform 0.2s ease;
  }

  &.show {
    .btn-dropdown__icon {
      transform: translateY(2px) rotate(225deg);
    }
  }
}
