.rating-tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;

  &__item {
    background-color: #333975;
    color: #fff;
    padding: 13px 20px;
    width: 100%;
    margin-right: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    &:hover, &:focus {
      cursor: pointer;
    }

    &.is-active {
      background-color: #2E50E9;
    }

    img {
      margin-right: 10px;
    }

    span {
      font-size: 16px;
    }
  }
}
