.rating-content {
  width: 100%;
  background-color: $main1;
  height: calc(100vh - 210px);
  padding: 15px;
  margin-right: 10px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__wrapper {
    background-image: url('/img/digital-rating/bgLine.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100% - 20px);
    background-size: cover;
    background-color: $darkBg;
    border: 1px solid $borderLine;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

    .el-divider--vertical {
        height: 100%;
    }
  }
}
