.rating-accordion__body {
  background: $dropdownBg;
  border: 12px solid $main1;
  border-top: none;
  padding: 8px;
  height: auto;
  overflow: auto;
  max-height: 200px;

  .list {
    list-style: none;
    margin-bottom: 0;

    li {
      padding: 4px 6px;
      display: flex;
      align-items: baseline;
      &:hover, &.active {
        background: #2E50E9;
        cursor: pointer;
      }
    }

    .legend {
      width: 30px;
      min-width: 30px;
      height: 10px;
      display: block;
      margin-right: 10px;
      margin-left: 5px;
    }
  }
}
