body{
  background: -moz-linear-gradient(0deg, rgba(13, 43, 77, 0) 48%, rgba(13, 43, 77, 1) 50%, rgba(13, 43, 77, 0) 52%),
  -moz-linear-gradient(-90deg, rgba(13, 43, 77, 0) 48%, rgba(13, 43, 77, 1) 50%, rgba(13, 43, 77, 0) 52%);
  background: -webkit-linear-gradient(0deg, rgba(13, 43, 77, 0) 48%, rgba(13, 43, 77, 1) 50%, rgba(13, 43, 77, 0) 52%),
  -webkit-linear-gradient(-90deg, rgba(13, 43, 77, 0) 48%, rgba(13, 43, 77, 1) 50%, rgba(13, 43, 77, 0) 52%);
  background: -ms-linear-gradient(0deg, rgba(13, 43, 77, 0) 48%, rgba(13, 43, 77, 1) 50%, rgba(13, 43, 77, 0) 52%),
  -ms-linear-gradient(-90deg, rgba(13, 43, 77, 0) 48%, rgba(13, 43, 77, 1) 50%, rgba(13, 43, 77, 0) 52%);
  background: linear-gradient(0deg, rgba(13, 43, 77, 0) 48%, rgba(13, 43, 77, 1) 50%, rgba(13, 43, 77, 0) 52%),
  linear-gradient(-90deg, rgba(13, 43, 77, 0) 48%, rgba(13, 43, 77, 1) 50%, rgba(13, 43, 77, 0) 52%);
  background-size: 3em 3em;
  background-color: $body-bg;
}

.container-main {

}

.minw-fit-c {
  min-width: fit-content;
}

.w-space-nowrap {
  white-space: nowrap;
}

@each $name, $color in $colors-list {

  .btn.btn-#{$name} {
    @include button-variant($color, darken($color, 7.5%), darken($color, 12%), lighten($color,5%), lighten($color, 10%), darken($color,20%));
  }

  .btn-outline-primary {
    @include button-outline-variant($color, darken($color,4%), lighten($color,5%), $color);
  }


  .bg-#{$name} {
    background-color: $color;
  }

}

.bg-dark{
  background: #272953!important;
  z-index: 1000;
}

.bg-dark-new{
  background: #20274f!important;
  z-index: 1000;
}