#sidebar-container2{
  z-index: 4000;

  .left-panel{
    min-height: calc(100vh - 78px);
    position: relative;

    .dropdown-menu{
      margin-left: 0;
    }

    .left-menu-li{
      .dropdown-child{
        background-color: $main1;
        display: none;
        left: 15px;
        margin: 0;
        padding: 10px!important;
        ul{
          padding-left: 10px;
        }
        .left-menu-li{
          display: inline-block;
          margin-left: 0;
        }
      }
      &:hover{
        .dropdown-child{
          display: block;
        }
      }
    }

  }

  .list-group-item {
    padding: 15px 0px 15px 15px;
  }

  .dropright:hover>.dropdown-menu {
    display: block;
  }

  .dropright .dropdown-menu {
    background-color: #20274f;
    color: white;
  }

  .dropright .dropdown-menu a:link {
    color: white;
  }

  .dropright .dropdown-menu a {
    color: white;
  }

  .dropright .dropdown-menu a:visited {
    color: white;
  }

  .move-menu {
    margin-left: 15px;
  }
}