#sidebar-container2{
  z-index: 99;
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #272953;
  }

  ::-webkit-scrollbar-thumb {
    background: #656a8a;
  }
  .left-panel{
    min-height: calc(100vh - 78px);
    position: relative;

    .dropdown-menu{
      margin-left: 0;
      padding: 0;
      min-height: calc(100vh - 118px);
    }

    .left-menu-li{

      .dropdown-child{
        display: none;
        left: 100%;
        top: 0;
        margin: 0;
        width: 519px;
        height: calc(100vh - 120px);

        background: rgba(46, 80, 233, 0.05);;
        overflow-y: scroll;
        .menu-title {
          background: #333975;
        }
        .no-route {
          padding: 20px;
        }
        .left-menu-li{
          display: block;
          margin-left: 0;
          padding: 0;
          a {
            padding: 20px 20px 20px 40px;
            display: block;
          }
          &:hover{
            cursor: auto;
            background: #333975;
          }
          ul {
            .left-menu-li{
              &:hover {
                cursor: pointer;
                background: #2E50E9;
              }
            }
          }
        }
      }
      &:hover{
        .dropdown-child{
          display: block;
        }
      }
    }

  }

  .list-group-item {
    padding: 15px 0px 15px 15px;
  }

  .dropright .dropdown-menu {
    color: white;
    top: -163%;
    width: 525px;
    background: #333975;
    box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.5);
  }

  .dropright .dropdown-menu a:link {
    color: white;
    text-decoration: none;
  }

  .dropright .dropdown-menu a, div {
    color: white;
    font-size: 20px;
    line-height: 24px;
  }

  .dropright .dropdown-menu a:visited {
    color: white;
  }

  .vc3_min-width {
    min-width: 180px;
  }

  .menu-header {
    display: flex;
    padding: 10px 13px 10px 20px;
    background: #46498E;
    height: 50px;
    align-items: center;
    .btn {
      background: #656A8A;
      color: #FEFEFE;
      font-weight: bold;
      border-radius: 10px;
    }
  }
}
